<div class="header">
  <div class="col-md-2 float-md-start">
    <div class="logo">
      <h2>Trackpayout</h2>
    </div>
  </div>

<div class="col-md-6 float-md-start">
    <div class="note">
      <i class="fa-sharp fa-regular fa-pen-to-square" style="color: rgb(53, 176, 233);"></i>
      <div class="ticker-wrap">
        <div class="ticker">
           <div class="ticker_item">Note:- with css and the length of the text controlls the scroll speed.Longer text scrolls faster, the shorter the text, the slower it scrolls </div>
        
          </div>
        </div>
    </div>
</div>


<div class="col-md-4 float-md-end">
  <div class="flex-box">
      <div class="dropdown ">           
        <a class="btn drop-btn width"  href="#" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          Select Company
          <i class="fa-solid fa-angle-down"></i>
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Bishir Enterprises Uk</a></li>
          <li><a class="dropdown-item" href="#">Bishir Enterprises(Active)</a></li>
          <li><a class="dropdown-item" href="#">Shree Infotech</a></li>
        </ul>
      </div>


  <div class="dropdown" >
    <a class="btn drop-btn width-2"  href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Financial Year
      <i class="fa-solid fa-angle-down"></i>
    </a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Financial Year</a></li>
      <li><a class="dropdown-item" href="#">2023-24</a></li>
      <li><a class="dropdown-item" href="#">2022-23</a></li>
      <li><a class="dropdown-item" href="#">2021-22</a></li>
      <li><a class="dropdown-item" href="#">2020-21</a></li>
      <li><a class="dropdown-item" href="#">2019-20</a></li>
     


    </ul>
    
  </div>

  <div>
    <ul class="icon-drop">
      <li><i class="fa-solid fa-arrow-right-from-bracket" style="color: var(--primary-color);"  (click)="openModel()" data-bs-toggle="modal" data-bs-target="#myModal1"></i></li>
    </ul>
  </div>
</div>
</div>

<div class="clearfix"></div>
</div>


  
    
<div id="myModal1" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg" style="width: 1150;">
      <div class="modal-content">
          <div class="modal-head headings">
                      <h3 class="modal-title">Log Out</h3>
                      <button type="button" class="close btnclose" (click)="closeModel()" data-bs-dismiss="modal">&times;</button> 
                      <!-- <span class="field">'*' mark Fields are Mandatory</span> -->
          </div>
                  <div class="modal-body">
                      <div class="profile-footer">
                          <img src="../../../assets/logout.jpg" alt="" width="150px" height="150px">
                          <p>Do you really want to Log Out ?</p>
                      </div>
      </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-primary" (click)="closeModel()" data-bs-dismiss="modal">No</button>
                      <button type="button" class="btn btn-primary" (click)="closeModel()" data-bs-dismiss="modal">Yes</button>
                      
                  </div>
                 
                
                </div>
            
              </div>
</div>
 