

<div class="wrapper">
  <div class="container main">
      <div class="row">
          <div class="col-md-6 side-image">
                     
              <!-------------      image     ------------->
              
              <img src="" alt="">
              <div class="text">
                  <p>Welcome to Trackpayout.</p>
                  <span><i>The Powerfull Payment Tracker</i></span>
              </div>
              
          </div>
          <div class="col-md-6 right">
              
              <div class="input-box">
                 
                 <header>Hello, Welcome back..!</header>
                 <h3>Please Enter E-mail Address and Password to get login in our Application.</h3>
                 <div class="input-field">
                      <input type="text" class="input" id="email" required="" autocomplete="off">
                      <label for="email">Email</label> 
                  </div> 
                 <div class="input-field">
                      <input type="password" class="input" id="pass" required="">
                      <label for="pass">Password</label>
                  </div> 
                 <div class="input-field">
                      
                      <input type="submit" class="submit" value="Sign In">
                 </div> 
                 <div class="signin">
                  <span>Forgot Password? <a [routerLink]="['/auth/reset']">Reset</a></span>
                 </div>
              </div>  
          </div>
      </div>
  </div>
</div>
