.login {
    min-height: 100vh;
  }
  
  .bg-image {
    background-image: url('../../../assets/log-3.png');
    background-size: cover;
    background-position: center;
    height: 540px;
    width: 650px;
   
    // background-size: cover;
    // height: 100vh;
    // padding: 50px;
  }
  
  .login-heading {
    font-weight: 300;
  }
  
  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  }

  .title{
    position: relative;
    top: 565px;
    font-size: 27px;
    left: 115px
  }

  .tagline{
    position: relative;
    top: 605px;
    right: 190px;
  }

  // .floating {
  //   animation-name: floating;
  //   animation-duration: 5s;
  //   animation-iteration-count: infinite;
  //   animation-timing-function: ease-in-out;
  // }