
<div class="graph-card">
    <div class="card-head">
        <h2 class="card-head title">Follow Up<i
                class="fa-solid fa-rotate-right"></i>
        </h2>
    </div>
    <div class="clearfix"></div>
    <button class=" btndown primary-drop dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Followup Hitory &nbsp;<i class="fa-solid fa-caret-down" style="color: #ffffff;"></i>
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Do More Followups-(Ledger Wise)</a></li>
            <li><a class="dropdown-item" href="#">Do More Followups-(Bill Wise)</a></li>
          
        </ul>

    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-3">
            <div class="white-card">
                <i class="fa-solid fa-rotate-right"></i>
                <div class="card-head">
                    
                    <h2><b>All Followups Done Till Today</b></h2>
                </div>
            
                <div class="status">
                    <h1 class="green">1327</h1>
                </div>
    
    
                <!-- <div class="col-md-9 float-md-start">
                    <h3>&#8377; 7,343,335.63</h3>
                </div>
                <div class="col-md-3 float-md-end graph">
                    <p class="green"><img src="../../../assets/trend.png" alt=""> 16.9%</p>
                </div> -->
                <div class="clearfix"></div>
            </div>
    
    
        </div>
        <div class="col-md-3">
            <div class="white-card">
                <i class="fa-solid fa-rotate-right"></i>
                <div class="card-head">
                    <h2><b>Automated Followups Done</b></h2>
                </div>
                 <div class="status">
                    <h1 class="red">1169</h1>
                </div> 
    
                <!-- <div class="col-md-9 float-md-start">
                    <h3>&#8377; 125,651.00</h3>
                </div>
                <div class="col-md-3 float-md-end graph">
                    <p class="red"><img src="../../../assets/downarrow.png" alt=""> 0.9%</p>
                </div>  -->
                <div class="clearfix"></div>
    
    
            </div>
    
        </div>

        
    
        <div class="col-md-3">
            <div class="white-card">
                <i class="fa-solid fa-rotate-right"></i>
                <div class="card-head">
                    <h2><b>Whatsapp Followups Done</b></h2>
                </div>
               
                <div class="status">
                    <h1 class="green">97</h1>
                </div>
    
                <!-- <div class="col-md-9 float-md-start">
                    <h3>&#8377; 402.203.03</h3>
                </div>
                <div class="col-md-3 float-md-end graph">
                    <p class="green"><img src="../../../assets/trend.png" alt=""> 16.9%</p>
                </div>  -->
                <div class="clearfix"></div>
    
    
            </div>
    
        </div>

        <div class="col-md-3">
            <div class="white-card">
                <i class="fa-solid fa-rotate-right"></i>
                <div class="card-head">
                    <h2><b>Handled Followups Done</b></h2>
                </div>
                <div class="status">
                    <h1 class="red">157</h1>
                </div>
    
                <!-- <div class="col-md-9 float-md-start">
                    <h3>&#8377; 402.203.03</h3>
                </div>
                <div class="col-md-3 float-md-end graph">
                    <p class="green"><img src="../../../assets/trend.png" alt=""> 16.9%</p>
                </div>  -->
                <div class="clearfix"></div>
    
    
            </div>
    
        </div>
    </div>

    <div class="clearfix"></div>
    

        <!-- <div class="progress process">
            <div class="progress-bar" role="progressbar" style="width: 88%;" aria-valuenow="88%" aria-valuemin="0" aria-valuemax="88">Automated Followups (88%)</div>
        </div> -->
        <div class="progress process">
            <div class="progress-bar" role="progressbar" style="width: 78%" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100">Automated Followups(88%)</div>
            <div class="progress-bar bg-success" role="progressbar" style="width: 22%" aria-valuenow="12" aria-valuemin="0" aria-valuemax="100">Handled Followups(12%)</div>
            <!-- <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div> -->
          </div>

    <div class="clearfix"></div>


    
    <div class="card-head1 btn-search">

        <button class="btnspace primary-drop dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i> &nbsp;Search in All
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
        <button class=" btnspace primary-drop dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i> &nbsp; Search By Ledger
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">A4</a></li>
            <li><a class="dropdown-item" href="#">A67</a></li>
            <li><a class="dropdown-item" href="#">Amazon</a></li>
            <li><a class="dropdown-item" href="#">Customer C</a></li>
            <li><a class="dropdown-item" href="#">Customer A</a></li>
        </ul>
        <button class="primary-drop dropdown-toggle" type="button"
            aria-expanded="false">
            <i class="fa-solid fa-arrow-down" style="color: #ffffff;"></i>&nbsp; Download
        </button>
        
    </div>

    
    <div class="clearfix"></div>

    <div class="table-responsive table-scroll">
        <table class="table">
            <tr class="txt">
                <!-- <th><input type="checkbox" class="check "></th> -->
                <th>Date</th>
                <th>Ledger</th>
                <th>Bill no</th>
                <th>Followed by</th>
                <th>Type/Medium</th>
                <th>Remark</th>
               
            </tr>

            <tr>
                <!-- <td><input type="checkbox" class="check"></td> -->
                <td>2023-09-11</td>
                <td>Ajay (id - 5) <br>
                    ( Email - Manu@contisofttechno.Com, Contact - 7736338240 )</td>
                <td>N/A</td>
                <td>Automated</td>
                <td>WhatsApp with Ledger Statement</td>
                <td>Auto reminder sent on WhatsApp No. : <br>
                    7736338240</td>
            </tr>

            <tr>
                <!-- <td><input type="checkbox" class="check"></td> -->
                <td>2023-09-11</td>
                <td>Ajay (id - 5) <br>
                    ( Email - Manu@contisofttechno.Com, Contact - 7736338240 )</td>
                <td>N/A</td>
                <td>Automated</td>
                <td>WhatsApp with Ledger Statement</td>
                <td>Auto reminder sent on WhatsApp No. : <br>
                    7736338240</td>
            </tr>
            <tr>
                <!-- <td><input type="checkbox" class="check"></td> -->
                <td>2023-09-11</td>
                <td>Ajay (id - 5) <br>
                    ( Email - Manu@contisofttechno.Com, Contact - 7736338240 )</td>
                <td>N/A</td>
                <td>Automated</td>
                <td>WhatsApp with Ledger Statement</td>
                <td>Auto reminder sent on WhatsApp No. : <br>
                    7736338240</td>
            </tr>
            <tr>
                <!-- <td><input type="checkbox" class="check"></td> -->
                <td>2023-09-11</td>
                <td>Ajay (id - 5) <br>
                    ( Email - Manu@contisofttechno.Com, Contact - 7736338240 )</td>
                <td>N/A</td>
                <td>Automated</td>
                <td>WhatsApp with Ledger Statement</td>
                <td>Auto reminder sent on WhatsApp No. : <br>
                    7736338240</td>
            </tr>
            <tr>
                <!-- <td><input type="checkbox" class="check"></td> -->
                <td>2023-09-11</td>
                <td>Ajay (id - 5) <br>
                    ( Email - Manu@contisofttechno.Com, Contact - 7736338240 )</td>
                <td>N/A</td>
                <td>Automated</td>
                <td>WhatsApp with Ledger Statement</td>
                <td>Auto reminder sent on WhatsApp No. : <br>
                    7736338240</td>
            </tr>

           
        </table>
    </div>

    <div class="pagination">

        <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Previous</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>
    </div>
</div>


<div class="col-md-12 col-lg-12">
    <div class="graph-card">

        <div class="card-head">
            <!-- <h2 class="card-head">Top 5 Customer<i class="fa-solid fa-rotate-right"></i>
            </h2> -->
            <div class="dropdown">
                <button class="primary-drop dropdown-toggle mb-4 btnspace" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <!-- <i class="fa-solid fa-chart-simple"></i> &nbsp; -->
                    Current Year
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Last Month</a></li>
                    <li><a class="dropdown-item" href="#">Current Month</a></li>
                </ul>
                <button class="mb-4 primary-drop dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="fa-solid fa-chart-simple"></i> &nbsp;Bar Chart
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Line Chart</a></li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>

        <div id="chart">
            <apx-chart [series]="chartOptions5.series" [chart]="chartOptions5.chart"
                [dataLabels]="chartOptions5.dataLabels" [plotOptions]="chartOptions5.plotOptions"
                [yaxis]="chartOptions5.yaxis" [legend]="chartOptions5.legend" [fill]="chartOptions5.fill"
                [stroke]="chartOptions5.stroke" [tooltip]="chartOptions5.tooltip"
                [xaxis]="chartOptions5.xaxis"></apx-chart>
        </div>

    </div>
</div>

