.white-card{
    position: relative;
    min-height: 100px;
    border: 1px solid lightgrey;
    border-radius: 25px;


    
        .fa-rotate-right{
            position: absolute; 
            right: 7px;
            font-size: 11px;
            color: var(--light-grey);
            top: 7px;
        }
    
    
        .card-head{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        
        .icon{
            background-color:#fb899e49;
            border-radius: 100%;
            height: 35px;
            width: 35px;
            padding: 8px 9px; 
            margin-right: 10px;
    
            img{
                width: 18px;
                display: block;
                margin: auto;
    
            }
        }
    
    
        .icon2{
            background-color:#D5E4FB;
            border-radius: 100%;
            height: 35px;
            width: 35px;
            padding: 8px 9px; 
            margin-right: 10px;
    
            img{
                width: 18px;
                display: block;
                margin: auto;
    
            }
        }
    
        .icon3{
            background-color:#DEEFD8;
            border-radius: 100%;
            height: 35px;
            width: 35px;
            padding: 8px 9px; 
            margin-right: 10px;
    
            img{
                width: 18px;
                display: block;
                margin: auto;
    
            }
        }
    
        .icon4{
            background-color:#DCFFFF;
            border-radius: 100%;
            height: 35px;
            width: 35px;
            padding: 8px 9px; 
            margin-right: 10px;
    
            img{
                width: 18px;
                display: block;
                margin: auto;
            }
        }
    
    
        h2{
            font-size: 12px;
            font-weight: 500;
            color: var(--black-color);
            // margin-top: 8px;
            // margin-bottom: 0;
        }
    
    }
    
    
    .status{
        text-align: center;
        margin-top: 10px;
    
        .red{color: var(--light-red-color); font-size: 35px; margin: 0; }
        .green{color: var(--light-green-color); font-size: 35px; margin: 0;}
    }
    
    
    .graph{ 
        .red{color: var(--light-red-color); font-size: 11px; margin: 0; }
        .green{color: var(--light-green-color); font-size: 11px; margin: 0;}
         img{width: 14px; margin-right: 3px;}
    }
    
    h3{font-size: 14px; color: var(--black-color); font-weight: 600; margin: 0;}
    
    }
    

    


.top{
    margin-top: 25px;   
    
   
    
}
.scrolling{
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 22px;
    height: 50vh;
    
}
.scrolling::-webkit-scrollbar {
    width: 6px;
     }
  
  /* Track */
  .scrolling::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  .scrolling::-webkit-scrollbar-thumb {
    background: var(--primary-color); 
  }
  
  /* Handle on hover */
  .scrolling::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


.item{
    display: flex;
    align-items:stretch;
    margin: 14px 0;
    flex-basis: fit-content;
    width: 100%;
    flex-grow: 2;


    

    .icon{
        width: 40px;
        height: 40px;
        background-color: #0066fe13;
        border-radius: 100%;
        padding: 7px 14px;
        margin-right: 16px;

        i{
            color:var(--primary-color);
            font-size: 14px;
            text-align: center;
        }
        

        
    }


    .data{
            h2{
                font-size: 13px;
                margin-top: 3px;
                margin-bottom: 3px;
                color: var(--black-color);
                font-weight: 600;
            }
            .caption{
                font-size: 10px;
                color: var(--light-grey);
                margin: 0;
            }

    }

    .status{
        flex-grow: 3;

        
            font-size: 10px;
            color: var(--light-red-color);
            margin-top: 2px;
            text-align: right;
            .red{color: var(--light-red-color);  margin: 0; }
            .green{color: var(--light-green-color);  margin: 0;}

        
    }

   
}

.graph-card{background-color: var(--white-color); padding: 15px; border-radius: 4px; margin-top: 20px;}

.txt {
    text-transform: capitalize;
}



.card-head1{
    display: flex;
    justify-content: flex-end;
}


.btnspace{
    margin-right: 10px;
}

.pagination{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 15px;
    justify-items: center;
}

.card-top{

    margin-top: 15px;
}


.process{
    margin-top: 20px;
}

.title {
    margin-bottom: 15px;
}

.btn-search{

    margin-top: 15px;
}


.btndown {
    margin-bottom: 20px;
}

// .btn {
//     background-color: #ddd;
//     border: none;
//     color: black;
//     padding: 16px 32px;
//     text-align: center;
//     font-size: 16px;
//     margin: 4px 2px;
//     transition: 0.3s;
//   }
  
//   .white-card:hover {
//     background-color: var(--primary-color);
//     color: white;
//   }


//   .white-card .card-head  .icon:hover {
//     background-color: rgb(255 255 255);
//     border-radius: 100%;
//     height: 35px;
//     width: 35px;
//     padding: 8px 9px;
//     margin-right: 10px;
// }



// .white-card .card-head h2:hover {
//     font-size: 12px;
//     font-weight: 500;
//     color: #ffffff;
// }

// .white-card .status .green:hover {
//     color: #fff;
//     font-size: 35px;
//     margin: 0;
// }
// .white-card .status .red:hover {
//     color: #fff;
//     font-size: 35px;
//     margin: 0;
// }