<div class="graph-card">

    <div class="card-head">
        <h2 class="card-head">Companies<i
                class="fa-solid fa-rotate-right"></i>
        </h2> 
    </div>
    <div class="clearfix"></div>

    <div class="clearfix"></div>
    <div class="card-head1">
            <input type="text" class="form-control form-input search dropdown-toggle" >
            <button class="primary-drop dropdown-toggle" type="button"
                aria-expanded="false">
                <i class="fa-solid fa-arrow-down" style="color: #ffffff;"></i>&nbsp; Download
            </button>
            <ul class="dropdown-menu">
                <li class="dropdown-item">Over bill due greater than given days</li>
                <li>Sales details above given amount</li>
                <!-- <li><a class="dropdown-item" href="#">Something else here</a></li> -->
            </ul>
    </div>


<div class="clearfix"></div>

<div class="table-responsive table-scroll">
    <table class="table">
        <tr class="txt">
            <!-- <th><input type="checkbox" class="check "></th> -->
            <th>#</th>
            <th>Company ID</th>
            <th>Company Name</th>
            <th>Sale count</th>
            <th>Sales</th>
            <th>Purchase</th>
            <th>Last Sync</th>
            <th>Reminder Status<br>
                (MAD,MBD,MLW,WHBW,WHLW)
            </th>
            <th>Exe Details</th>
            <th>Debtors MailID count</th>
            <th>Last Followup</th>
            <th>Last Whatsapp followup</th>
            <th>Created At</th>
            
        </tr>
    </table>
</div>

<div class="pagination">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav>
</div>



   
</div>

