.graph-card{background-color: var(--white-color); padding: 15px; border-radius: 4px; margin-top: 20px;}

.txt {
text-transform: capitalize;
}



.card-head1{
display: flex;
justify-content: flex-end;
}


.btnspace{
margin-right: 10px;
}

.pagination{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 15px;
    justify-items: center;
}
    
    .search {
        width: auto;
        margin-right: 10px;
        font-size: 12px;
    }
    
    
    .field {
        position: absolute;
        top: 50px;
        color: rgb(233, 61, 61);
  
    }
    

    .btnclose {
        padding: 0px 10px;
    }
    
    .checkbtn{
        margin-left: 13px;
        margin-bottom: 10px;
    }
    
    input {
        font-size: var(--font-size);
    }
    select {
        font-size: var(--font-size);
    }
    
    .headings {
        padding: 10px;
        display: flex;
        justify-content: space-between;
    }
.checkspace {
   margin-top: 7px;
}

