
<div class="graph-card">
    <div class="card-head">
        <h2 class="card-head title">Client Performance<i
                class="fa-solid fa-rotate-right"></i>
        </h2>
    </div>
    <div class="clearfix"></div>


    <div class="row">
        <div class="col-md-4">
            <div class="white-card">
                <i class="fa-solid fa-rotate-right"></i>
                <div class="card-head">
                    
                    <h2><b>Low Risk</b></h2>
                </div>
                <div class="card-head">
                    
                    <h2>Days less than 30</h2>
                </div>
    
                <div class="status">
                    <h1 class="green">3</h1>
                </div>
    
    
                <!-- <div class="col-md-9 float-md-start">
                    <h3>&#8377; 7,343,335.63</h3>
                </div>
                <div class="col-md-3 float-md-end graph">
                    <p class="green"><img src="../../../assets/trend.png" alt=""> 16.9%</p>
                </div> -->
                <div class="clearfix"></div>
            </div>
    
    
        </div>
        <div class="col-md-4">
            <div class="white-card">
                <i class="fa-solid fa-rotate-right"></i>
                <div class="card-head">
                    <h2><b>Medium Risk</b></h2>
                </div>
                <div class="card-head">
                    <h2>Days between 30-45</h2>
                </div>
    
                 <div class="status">
                    <h1 class="red">0</h1>
                </div> 
    
                <!-- <div class="col-md-9 float-md-start">
                    <h3>&#8377; 125,651.00</h3>
                </div>
                <div class="col-md-3 float-md-end graph">
                    <p class="red"><img src="../../../assets/downarrow.png" alt=""> 0.9%</p>
                </div>  -->
                <div class="clearfix"></div>
    
    
            </div>
    
        </div>

        
    
        <div class="col-md-4">
            <div class="white-card">
                <i class="fa-solid fa-rotate-right"></i>
                <div class="card-head">
                    <h2><b>High Risk</b></h2>
                </div>
                <div class="card-head">
                    <h2>Days greater than 45</h2>
                </div>
    
                <div class="status">
                    <h1 class="green">0</h1>
                </div>
    
                <!-- <div class="col-md-9 float-md-start">
                    <h3>&#8377; 402.203.03</h3>
                </div>
                <div class="col-md-3 float-md-end graph">
                    <p class="green"><img src="../../../assets/trend.png" alt=""> 16.9%</p>
                </div>  -->
                <div class="clearfix"></div>
    
    
            </div>
    
        </div>
    </div>

    <div class="clearfix"></div>
    

        <div class="progress process">
            <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Good Performance(100%)</div>
        </div>
        <!-- <div class="progress process">
            <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"> Average Performance</div>
        </div>
        <div class="progress process">
            <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"> Below Average Performance</div>
        </div> -->

    <div class="clearfix"></div>


    
    <div class="card-head1 btn-search">

        <button class="primary-drop dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i> &nbsp;Search in All
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
        <!-- <button class=" btnspace primary-drop dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i> &nbsp; Search here
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
        <button class="primary-drop dropdown-toggle" type="button"
            aria-expanded="false">
            <i class="fa-solid fa-arrow-down" style="color: #ffffff;"></i>&nbsp; Download
        </button> -->
    </div>

    
    <div class="clearfix"></div>

    <div class="table-responsive table-scroll">
        <table class="table">
            <tr class="txt">
                <!-- <th><input type="checkbox" class="check "></th> -->
                <th>Customer Name</th>
                <th>Average Payment(in days) </th>
                <th>Standard Payment(in days) </th>
                <th>Closing Balance</th>
               
            </tr>

            <tr>
                <!-- <td><input type="checkbox" class="check"></td> -->
                <td>Elen_disuza <br>
                    Contact No. - 8446225997</td>
                <td>0</td>
                <td>0</td>
                <td>13000.00</td>
            </tr>

            <tr>
                <!-- <td><input type="checkbox" class="check"></td> -->
                <td>Elen_disuza <br>
                    Contact No. - 8446225997</td>
                <td>0</td>
                <td>0</td>
                <td>13000.00</td>
            </tr>

            <tr>
                <!-- <td><input type="checkbox" class="check"></td> -->
                <td>Elen_disuza <br>
                    Contact No. - 8446225997</td>
                <td>0</td>
                <td>0</td>
                <td>13000.00</td>
            </tr>
            <tr>
                <!-- <td><input type="checkbox" class="check"></td> -->
                <td>Elen_disuza <br>
                    Contact No. - 8446225997</td>
                <td>0</td>
                <td>0</td>
                <td>13000.00</td>
            </tr>

            <!-- <tr>
                <td><input type="checkbox" class="check"></td>
                <td>4</td>
                <td>ishan_trailer</td>
                <td>120.00</td>
               
            </tr>

            <tr>
                <td><input type="checkbox" class="check"></td>
                <td>5</td>
                <td>ishan_trailer</td>
                <td>120.00</td>
               
            </tr>

            <tr>
                <td><input type="checkbox" class="check"></td>
                <td>6</td>
                <td>ishan_trailer</td>
                <td>120.00</td>
               
            </tr> -->
        </table>
    </div>

    <div class="pagination">

        <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Previous</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>
    </div>
</div>

