.search {
        width: auto;
        margin-right: 10px;
        font-size: 12px;
    }
    
    
    .field {
        position: absolute;
        top: 50px;
        color: rgb(233, 61, 61);
  
    }
    .btnclose {
        padding: 0px 10px;
    }
    
    .checkbtn{
        margin-left: 13px;
        margin-bottom: 10px;
    }
    
    input {
        font-size: var(--font-size);
    }
    select {
        font-size: var(--font-size);
    }
    
    .headings {
        padding: 10px;
        display: flex;
        justify-content: space-between;
    }
.checkspace {
   margin-top: 7px;
}

.txtspace{
    margin-top: 15px;
    margin-bottom: 7px;
}

.texts {
    font-size: var(--font-size);
}
p {
    font-size: var(--font-size);
}

.note{
    color: rgb(233, 61, 61);
    margin-top: 20px;
}

li {
    font-size: var(--font-size);
}