<div class="graph-card">

    <div class="card-head">
        <h2 class="card-head">All Invoices<i
                class="fa-solid fa-rotate-right"></i>
        </h2> 
    </div>
    <div class="clearfix"></div>
    <div class="create mt-2 col-md-6">
        <!-- <button class="primary-drop" type="button" aria-expanded="false"  data-bs-toggle="modal" data-bs-target="#myModal">
            <i class="fa-solid fa-plus" style="color: #ffffff;"></i>&nbsp; Add User
        </button> -->
        <label for="Select date to show logs">Select date to show logs</label>
        <input type="date" class="form-control form-input search" placeholder="">
    </div>
    <div class="clearfix"></div>
    <div class="card-head1">
        
        <input type="text" class="form-control form-input search" placeholder="Search Here">
            <button class="btnspace primary-drop dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i> &nbsp;Search in All
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Search in All</a></li>
            <li><a class="dropdown-item" href="#">Log Discription</a></li>
            <li><a class="dropdown-item" href="#">Performed By</a></li>
            <li><a class="dropdown-item" href="#">Performed At</a></li>
            
        </ul>
        <button class=" btnspace primary-drop dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Select an Action
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Edit</a></li>
            <li><a class="dropdown-item" href="#">Remove</a></li>
            
        </ul>
        <!-- <button class=" btnspace primary-drop dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i> &nbsp; Search here
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul> -->
        <button class="primary-drop dropdown-toggle" type="button"
            aria-expanded="false">
            <i class="fa-solid fa-arrow-down" style="color: #ffffff;"></i>&nbsp; Download
        </button>
    </div>


<div class="clearfix"></div>

<div class="table-responsive table-scroll">
    <table class="table">
        <tr class="txt">
            <!-- <th><input type="checkbox" class="check "></th> -->
            <th>#</th>
            <th>Log Discription</th>
            <th>Performed By</th>
            <th>Performed At</th>    
        </tr>
    </table>
</div>

<div class="pagination">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav>
</div>


</div>

