<div class="graph-card">

    <div class="card-head">
        <h2 class="card-head">User Details<i
                class="fa-solid fa-rotate-right"></i>
        </h2> 
    </div>
    <div class="clearfix"></div>
    <div class="create mt-2">
        <button class="primary-drop" type="button" aria-expanded="false" (click)="openModel()" data-bs-toggle="modal" data-bs-target="#myModal">
            <i class="fa-solid fa-plus" style="color: #ffffff;"></i>&nbsp; Add User
        </button>
    </div>
    <div class="clearfix"></div>
    <div class="card-head1">
            <input type="text" class="form-control form-input search" placeholder="Search Here">
            <button class="btnspace primary-drop dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i> &nbsp;Search in All
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Search in All</a></li>
            <li><a class="dropdown-item" href="#">First Name</a></li>
            <li><a class="dropdown-item" href="#">Last Name</a></li>
            <li><a class="dropdown-item" href="#">Designation</a></li>
            <li><a class="dropdown-item" href="#">Created At</a></li>
            <li><a class="dropdown-item" href="#">Email</a></li>
            <li><a class="dropdown-item" href="#">Contact</a></li>
            <!-- <li><a class="dropdown-item" href="#">Something else here</a></li> -->
        </ul>
        <button class=" btnspace primary-drop dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Select an Action
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Edit</a></li>
            <li><a class="dropdown-item" href="#">Remove</a></li>
            
        </ul>
        <!-- <button class=" btnspace primary-drop dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i> &nbsp; Search here
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul> -->
        <button class="primary-drop dropdown-toggle" type="button"
            aria-expanded="false">
            <i class="fa-solid fa-arrow-down" style="color: #ffffff;"></i>&nbsp; Download
        </button>
    </div>


<div class="clearfix"></div>

<div class="table-responsive table-scroll">
    <table class="table">
        <tr class="txt">
            <!-- <th><input type="checkbox" class="check "></th> -->
            <th>#</th>
            <th>First name</th>
            <th>Last Name</th>
            <th>Designation</th>
            <th>Email</th>
            <th>Contact</th>
            <th>Created At</th>
            
        </tr>
    </table>
</div>

<div class="pagination">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav>
</div>


<!-- Modal -->
<!-- <div class="row"> -->
    <!-- <div class="col-lg-12"> -->

        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-xl" style="width: 1150;">
              <div class="modal-content">
                <div class="modal-head headings">
                    <h4 class="modal-title">Add User</h4>
                    <span class="field">'*' mark Fields are Mandatory</span>
                    <button type="button" class="close btnclose" (click)="closeModel()" data-bs-dismiss="modal">&times;</button> 
                </div>
                <div class="modal-body">
                    <form>
                
                        <div class="row">
                            <div class="col-md-6 mb-2">
                                <label for="First Name">First Name</label>
                                <input type="text" class="form-control" placeholder="First Name" required>
                            </div>
                            <div class="col-md-6 mb-2">
                                <label for="last Name">last Name</label>
                                <input type="text" class="form-control" placeholder="Last Name" required>
                            </div>
                            <div class="col-md-6 mb-2">
                                <label for="Designation">Designation</label>
                                <input type="text" class="form-control" placeholder="Designation" required>
                            </div>
                            <div class="col-md-6 mb-2">
                                <label for="Company Email">Email</label>
                                <input type="text" class="form-control" placeholder="Email" required>
                            </div>
                            <div class="col-md-6 mb-2">
                                <label for="Company Contact">Contact</label>
                                <input type="text" class="form-control" placeholder="Contact" required>
                            </div>
                            
                            <div class="txtspace">
                                <span class="texts">Please assign permissions to the user...</span>
                            </div>
                          
                            <div class="modal-footer">
                                
                            </div>
                            <div class="row">

                                <div class="form-check col-md-6">
                                    <input class="form-check-input checkspace" type="checkbox" value="" id="invalidCheck" required>
                                    <label class="form-check-label" for="invalidCheck">
                                        Super Admin
                                    </label>
                                    <p>
                                        Assign this permission to the user who you want to have the full access of this system! User can insert, update, delete, access all the data and get reminder mails with this permission!
                                    </p>
                                    <div class="invalid-feedback">
                                      You must agree before submitting.
                                    </div>
                                </div>
                                <div class="form-check  col-md-6">
                                    <input class="form-check-input checkspace" type="checkbox" value="" id="invalidCheck" required>
                                    <label class="form-check-label" for="invalidCheck">
                                        Admin
                                    </label>
                                    <p>
                                        Assign this permission to the user who you want to have the full access of this system! User can insert, update, delete, access all the data and get reminder mails with this permission!
                                    </p>
                                    <div class="invalid-feedback">
                                      You must agree before submitting.
                                    </div>
                                </div>
                                <div class="form-check col-md-6">
                                    <input class="form-check-input checkspace" type="checkbox" value="" id="invalidCheck" required>
                                    <label class="form-check-label" for="invalidCheck">
                                        CRM
                                    </label>
                                    <p>
                                        Assign this permission to the user who you want to be able to create and submit Leads
                                    </p>
                                    <div class="invalid-feedback">
                                      You must agree before submitting.
                                    </div>
                                </div>
                                <div class="form-check col-md-6">
                                    <input class="form-check-input checkspace" type="checkbox" value="" id="invalidCheck" required>
                                    <label class="form-check-label" for="invalidCheck">
                                       User
                                    </label>
                                    <p>
                                        Assign this permission to the user who you want to have the full access of this system! User can insert, update, delete, access all the data and get reminder mails with this permission!
                                    </p>
                                    <div class="invalid-feedback">
                                      You must agree before submitting.
                                    </div>
                                </div>
                                <p class="note">Note :- User without permission of ADMIN can not access or view the records inserted by other users or admins. The only records inserted or created by himself are accessible as per the permissions to him!
                                </p>
                            </div>
                            <!-- <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                            <label class="form-check-label" for="invalidCheck">
                              Create new company with these details 
                            </label>       -->
                </div>
                        
                        <!-- <button class="btn btn-primary disabled" type="submit">Save</button> -->
                       
        </form>
    </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" (click)="closeModel()" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btnspace btn-primary disabled" (click)="closeModel()" data-bs-dismiss="modal">Submit</button>
                </div>
               
              
              </div>
          
            </div>
          </div>
    <!-- </div> -->

<!-- </div> -->
</div>

