

<div class="wrapper" id="resetpassword">
  <div class="container main">
      <div class="row">
          <div class="col-md-6 side-image" id="resetimage">
                     
              <!-------------      image     ------------->
              
              <img src="" alt="">
              <div class="text">
                  <p>Welcome to Trackpayout.</p>
                  <span><i>The Powerfull Payment Tracker</i></span>
              </div>
              
          </div>
          <div class="col-md-6 right" id="resetdiv">
              
              <div class="input-box" id="resetform">
                 
                 <header id="resethead">Reset Password</header>
                 <h3 id="resetsubheading">Please Enter E-mail Address and Password to get login in our Application.</h3>
                 <div class="input-field" id="resetid">
                      <input type="text" class="input" id="email" required="" autocomplete="off">
                      <label for="id">Company id</label> 
                  </div> 
                 <div class="input-field" id="resetpass">
                      <input type="password" class="input" id="pass" required="">
                      <label for="email">Email Address</label>
                  </div> 
                 <div class="input-field" id="resetsubmitbtn">
                      
                      <input type="submit" class="submit" value="Sign In">
                 </div> 
                 <div class="signin" id="loginlink">
                  <span>Remember Password? <a [routerLink]="['/auth/login']">Sign in</a></span>
                 </div>
              </div>  
          </div>
      </div>
  </div>
</div>
