<div class="container-fluid background">
    <div class="cardback">
        <div class="col-md-3 float-md-left pl-0 box">
            <div class="box1">
                <div class="img">
                    <img src="../../../assets/Payment terms.png" alt="">
                </div> 
                <div class="payment-title">
                    <h5>Total Zero Count</h5>   
                    <span class="timely">13</span>
                </div>    
            </div>
           
        </div>
        <div class="col-md-3 float-md-left pl-0 box">
            <div class="box2">
                <div class="img">
                    <img src="../../../assets/Average.png" alt="">
                </div> 
                <div class="payment-title">
                    <h5>Total Negative count </h5>   
                    <span class="timely">2</span>
                </div>    
            </div>
           
        </div>
        <div class="col-md-3 float-md-left pl-0 box">
            <div class="box2">
                <div class="img">
                    <img src="../../../assets/Overdue.png" alt="">
                </div> 
                <div class="payment-title">
                    <h5>Total last Current Sale Item Count/Value</h5>   
                    <span class="overdue">0</span>
                </div>    
            </div>
           
        </div>
        <div class="col-md-3 float-md-left pl-0 box">
            <div class="box2">
                <div class="img">
                    <img src="../../../assets/ClosingBalance.png" alt="">
                </div> 
                <div class="payment-title">
                    <h5>Total Last Month
                        Sale item Count/Value</h5>   
                    <span class="timely">4</span>
                </div>    
            </div>
           
        </div>
        
    </div>
</div>

<div class="col-xl-12 searchbar background">
        <div class="col-md-12 pl-0 pr-0" id="element-to-print">
     
            <div class="card-head">
                <h2 class="card-head txt4">Select Stock item<i
                        class="fa-solid fa-rotate-right"></i>
                </h2>
            </div>
            <div>
                <select class="form-select form-select-lg mb-3 txt5" aria-label="Default select example">
                    <option selected>A4</option>
                    <option value="1">Aradhya</option>
                    <option value="2">Bishir</option>
                    <option value="3">Chroma</option>
                    <option value="4">Aradhya</option>
                    <option value="5">Bishir</option>
                    <option value="6">Chroma</option>
                </select>   
            </div>
        </div>
</div>

<div class="row">
   
    <div class="col-xl-6">
    
    <div class="main-box background">
        
        <div class="info">
            <div class="card-head">
                <h2 class="card-head txt4">Select Item Details<i
                        class="fa-solid fa-rotate-right"></i>
                </h2>
            </div>
        
                <table class="table-responsive" style="width: 100%;">
                    <thead>
                    </thead>
                    <tbody>
                        <tr>
                            <th >Group</th>
                            <td >N/A</td>
                        </tr>
                        <tr>
                            <th >Category</th>
                            <td>N/A</td>
    
                        </tr>
                        <tr>
                            <th >CostingMethod</th>
                            <td >Avg.cost</td>
                        </tr>
                        <tr>
                            <th >Standard Selling Price</th>
                            <td >12.00 Box</td>
                        </tr>
                        <tr>
                            <th>Part No</th>
                            <td >N/A</td>
                        </tr>
                        <tr>
                            <th >Market Valuation Method</th>
                            <td >Avg.price</td>
                        </tr>     
     
                    </tbody>
                </table>
            
        </div> 
    </div>
    
    <div class="main-box background">
      
        <div class="info">
            <div class="card-head">
                <h2 class="card-head txt4">Statutory Details<i
                        class="fa-solid fa-rotate-right"></i>
                </h2>
            </div>
          
            <table class="table-responsive" style="width: 100%;">
                <thead>
    
                </thead>
                <tbody>
                    <tr>
                        <th>Description</th>
                        <td>N/A</td>
                    </tr>
                    <tr>
                        <th>Rate of IGST (%)</th>
                        <td >12</td>
                    </tr>
                    <tr>
                        <th>HSN</th>
                        <td >11234</td>
                    </tr>
                    <tr>
                         <th>Rate of CGST (%)</th>
                         <td >6</td>
                    </tr>
                 
                    <tr>
                        <th>Rate of SGST (%)</th>                                
                        <td>6</td>
                    </tr>
                 </tbody>
            </table>
        </div>
    </div>
     
    
    
    </div>
    
    
    
    
    <div class="main-box col-lg-6 chart-col">

        <div class="card-head">
            <h2 class="card-head txt4">Top 5 Customers<i
                    class="fa-solid fa-rotate-right"></i>
            </h2>
        </div>
        <!-- <div class="heading1">
            <div class="heading2">
                <h2>
                    <span class="line">Top 5 Customers</span>
    
                </h2>
            </div>
        </div> -->
        <div id="chart">
            <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
                [dataLabels]="chartOptions.dataLabels" [plotOptions]="chartOptions.plotOptions"
                [yaxis]="chartOptions.yaxis" [legend]="chartOptions.legend" [fill]="chartOptions.fill"
                [stroke]="chartOptions.stroke" [tooltip]="chartOptions.tooltip"
                [xaxis]="chartOptions.xaxis"></apx-chart>
        </div>
    </div>
    
    
    </div>

    <div class="main-box background2">
        <!-- <div class="heading">
            <div class="col-md-12">
                <h2>Last Sale And Purchase Data</h2>
            </div>
        </div> -->
        <div class="info">
            <div class="card-head">
                <h2 class="card-head txt4">Last Sale And Purchase Data<i
                        class="fa-solid fa-rotate-right"></i>
                </h2>
            </div>
            <!-- <div class="heading1">
                <div class="heading2">
                    <h2>
                        <span class="line">Last Sale And Purchase Data</span>
                    </h2>
                </div>
            </div> -->
            <table class="table-responsive col-xl-12" style="width:100%">
                <thead style="text-align: center;">
                    <tr>
                        <th scope="col-2">#</th>
                        <th>Date</th>
                        <th>Quantity</th>
                        <th>Valuation</th>
    
                        <!-- <th scope="col-2" style="color: rgb(14, 158, 74)">Total Outstanding</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Last Sale</th>
                        <td class="tabledata">2023-06-01</td>
                        <td class="tabledata">10 Box</td>
                        <td class="tabledata">120.00</td>
                        <!-- <td>{{ledger_data_detail.total_closing_balance}}</td> -->
                    </tr>
                    <tr>
                        <th>Last Purchase</th>
                        <td class="tabledata">2023-06-01</td>
                        <td class="tabledata">100 Box</td>
                        <td class="tabledata">1200.00</td>
    
                    </tr>
                </tbody>
            </table>
        </div>
    </div> 

    <!-- <div class=" col-md-12 col-xl-12 chart background">
        
        <div class="col-sm-12" >

            <select class="select-cols"  style="margin-top: 36px; margin-left: 41px;" >
                <option value="area">Line-Chart</option>
                <option value="bar">Bar-Chart</option>
            </select>

            
            <select class="select-cols" >
                <option value="lastmonth">Last Month</option>
                <option value="currentmonth">Current Month</option>
                <option selected value="currentyear">Current Year</option>
            </select>

            
            <h5 class="txt"><b>Month Wise Amount Status</b></h5>
            <br>
           
        </div>
        
        <div id="chart1">
            <apx-chart [series]="chartOptions1.series" [chart]="chartOptions1.chart"
                [dataLabels]="chartOptions1.dataLabels" [plotOptions]="chartOptions1.plotOptions"
                [yaxis]="chartOptions1.yaxis" [legend]="chartOptions1.legend" [fill]="chartOptions1.fill"
                [stroke]="chartOptions1.stroke" [tooltip]="chartOptions1.tooltip"
                [xaxis]="chartOptions1.xaxis"></apx-chart>
        </div>
       
    </div> -->