

<div class="graph-card">

    <div class="card-head">
        <h2 class="card-head"><b>Bill Discount</b><i
                class="fa-solid fa-rotate-right"></i>
        </h2>
    </div>
    <div class="clearfix"></div>
    <div class="card-head1">

        <button class="btnspace primary-drop" type="button" aria-expanded="false">
            <i class="fa-solid fa-arrow-down" style="color: #ffffff;"></i>&nbsp; Download Kredx Docs
        </button>
        
        <button class=" btnspace primary-drop " type="button" aria-expanded="false">
            <i class="fa-solid fa-arrow-down" style="color: #ffffff;"></i>&nbsp; Download Kredx Process_flow Docs I
        </button>
       
        <button class="primary-drop dropdown-toggle" type="button"aria-expanded="false">
            <i class="fa-solid fa-arrow-down" style="color: #ffffff;"></i>&nbsp; Download Kredx Process_flow Docs II
        </button>
    </div>

    
    <div class="clearfix"></div>

    <div class="paragraph">
        <h5>Dear <span>ASM_Company,</span></h5>
        <p>We have a partnership alliance with KredX for invoice discounting, this is an optional facility where you can avail the facility with our portal and get the best rate on your invoice discounting and meet your immediate cash flow requirement.</p>

    </div>

    <div class="clearfix"></div>
    <div class="card-head1">
        <button class="btnspace primary-drop dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i> &nbsp;Search in All
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
    </div>

    <div class="table-responsive table-scroll">
        <table class="table">
            <tr class="txt">
                <!-- <th><input type="checkbox" class="check "></th> -->
                <th>S.no</th>
                <th>Customer Name</th>
                <th>KredX Status</th>
                
               
            </tr>

            <tr>
                <!-- <td><input type="checkbox" class="check"></td> -->
                <td>1</td>
                <td>A. O. SMITH INDIA WATER PRODUCTS Pvt Lt</td>
                <td>Approved</td>
               
            </tr>

            <tr>
                <!-- <td><input type="checkbox" class="check"></td> -->
                <td>2</td>
                <td>A. O. SMITH INDIA WATER PRODUCTS Pvt Lt</td>
                <td>Approved</td>
               
            </tr>
            <tr>
                <!-- <td><input type="checkbox" class="check"></td> -->
                <td>3</td>
                <td>A. O. SMITH INDIA WATER PRODUCTS Pvt Lt</td>
                <td>Approved</td>
               
            </tr>
            <tr>
                <!-- <td><input type="checkbox" class="check"></td> -->
                <td>4</td>
                <td>A. O. SMITH INDIA WATER PRODUCTS Pvt Lt</td>
                <td>Approved</td>
               
            </tr>

            <!-- <tr>
                <td><input type="checkbox" class="check"></td>
                <td>4</td>
                <td>ishan_trailer</td>
                <td>120.00</td>
               
            </tr>

            <tr>
                <td><input type="checkbox" class="check"></td>
                <td>5</td>
                <td>ishan_trailer</td>
                <td>120.00</td>
               
            </tr>

            <tr>
                <td><input type="checkbox" class="check"></td>
                <td>6</td>
                <td>ishan_trailer</td>
                <td>120.00</td>
               
            </tr> -->
        </table>
    </div>

    <div class="pagination">

        <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Previous</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>
    </div>
</div>

