<!-- <app-breadcrums [componentHeading]="compHead" [main]="main" [sub]="sub"></app-breadcrums> -->


<div class="dashboard">

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="white-card">
                    <i class="fa-solid fa-rotate-right"></i>
                    <div class="card-head">
                        <div class="icon">
                            <img src="../../../assets/discount (1).png">
                        </div>
                        <h2>Year To Date Sales</h2>
                    </div>

                    <div class="status">
                        <p class="green">Credit Ruppes</p>
                    </div>

                    <div class="col-md-9 float-md-start">
                        <h3>&#8377; 7,343,335.63</h3>
                    </div>
                    <div class="col-md-3 float-md-end graph">
                        <p class="green"><img src="../../../assets/trend.png" alt=""> 16.9%</p>
                    </div>
                    <div class="clearfix"></div>
                </div>


            </div>
            <div class="col-md-3">
                <div class="white-card">
                    <i class="fa-solid fa-rotate-right"></i>
                    <div class="card-head">
                        <div class="icon2">
                            <img src="../../../assets/document.png">
                        </div>
                        <h2>Year To Date Receipts</h2>
                    </div>

                    <div class="status">
                        <p class="red">Debit Ruppes</p>
                    </div>

                    <div class="col-md-9 float-md-start">
                        <h3>&#8377; 125,651.00</h3>
                    </div>
                    <div class="col-md-3 float-md-end graph">
                        <p class="red"><img src="../../../assets/downarrow.png" alt=""> 0.9%</p>
                    </div>
                    <div class="clearfix"></div>


                </div>

            </div>

            <div class="col-md-3">
                <div class="white-card">
                    <i class="fa-solid fa-rotate-right"></i>
                    <div class="card-head">
                        <div class="icon3">
                            <img src="../../../assets/shopping-basket.png">
                        </div>
                        <h2>Year To Date Purchase</h2>
                    </div>

                    <div class="status">
                        <p class="green">Credit Ruppes</p>
                    </div>

                    <div class="col-md-9 float-md-start">
                        <h3>&#8377; 402.203.03</h3>
                    </div>
                    <div class="col-md-3 float-md-end graph">
                        <p class="green"><img src="../../../assets/trend.png" alt=""> 16.9%</p>
                    </div>
                    <div class="clearfix"></div>


                </div>

            </div>
            <div class="col-md-3">
                <div class="white-card">
                    <i class="fa-solid fa-rotate-right"></i>
                    <div class="card-head">
                        <div class="icon4">
                            <img src="../../../assets/shopping-cart.png">
                        </div>
                        <h2>Year To Date Payment</h2>
                    </div>

                    <div class="status">
                        <p class="red">Debit Ruppes</p>
                    </div>

                    <div class="col-md-9 float-md-start">
                        <h3>&#8377; 7,434,335.63</h3>
                    </div>
                    <div class="col-md-3 float-md-end graph">
                        <p class="red"><img src="../../../assets/downarrow.png" alt=""> 0.9%</p>
                    </div>
                    <div class="clearfix"></div>

                </div>
            </div>
        </div>

    </div>

    <div class="container top">
        
    <div class="container contain">
        <div class="col-xl-6">
            <h4 class="card-title mt-1 kpitxt">Time We Saved For You..!!!</h4>
        </div>
        <div class="row cards-space">
            <div class="col-md-2">
                <div class="white-card card-height">
                    <i class="fa-solid fa-rotate-right"></i>
                    <div class="card-head">
                        <div class="icon">
                            <img src="../../../assets/discount (1).png">
                        </div>
                        <h2 class="head">Total Follow-upCount of follow up</h2>
                    </div>

                    <div class="">
                        <h3 class="card-align mt-1"> 1327</h3>
                    </div>
                </div>


            </div>
            <div class="col-md-2">
                <div class="white-card card-height">
                    <i class="fa-solid fa-rotate-right"></i>
                    <div class="card-head">
                        <div class="icon2">
                            <img src="../../../assets/document.png">
                        </div>
                        <h2 class="head">Hours Saved..!!</h2>
                    </div>


                    <div class="">
                        <h3 class="card-align mt-4"> 44.23 Hr</h3>
                    </div>

                    <div class="clearfix"></div>


                </div>

            </div>

            <div class="col-md-2">
                <div class="white-card card-height">
                    <i class="fa-solid fa-rotate-right"></i>
                    <div class="card-head">
                        <div class="icon3">
                            <img src="../../../assets/shopping-basket.png">
                        </div>
                        <h2 class="head">Money Saved..!!</h2>
                    </div>

                  
                    <div class="">
                        <h3 class="card-align mt-4">&#8377; 3,184.56</h3>
                    </div>
                    
                    <div class="clearfix"></div>


                </div>

            </div>
            <div class="col-md-2">
                <div class="white-card card-height">
                    <i class="fa-solid fa-rotate-right"></i>
                    <div class="card-head">
                        <div class="icon4">
                            <img src="../../../assets/shopping-cart.png">
                        </div>
                        <h2 class="head">Early Payment..!!</h2>
                    </div>

                   
                    <div class="">
                        <h3 class="card-align mt-4">&#8377; 228</h3>
                    </div>
                    
                    <div class="clearfix"></div>

                </div>
            </div>

            <div class="col-md-2">
                <div class="white-card card-height">
                    <i class="fa-solid fa-rotate-right"></i>
                    <div class="card-head">
                        <div class="icon">
                            <img src="../../../assets/discount (1).png">
                        </div>
                        <h2 class="head">Early Payment..!!</h2>
                    </div>

                   
                    <div class="">
                        <h3 class="card-align mt-4">1.29 Cr</h3>
                    </div>
                    
                    <div class="clearfix"></div>
                </div>


            </div>

            <div class="col-md-2">
                <div class="white-card card-height">
                    <i class="fa-solid fa-rotate-right"></i>
                    <div class="card-head">
                        <div class="icon2">
                            <img src="../../../assets/document.png">
                        </div>
                        <h2 class="head">Day Saved..!!
                        </h2>
                    </div>

                   

                    <div class="">
                        <h3 class="card-align mt-4">202 Days</h3>
                    </div>
                   
                    <div class="clearfix"></div>


                </div>

            </div>
        </div>

    </div>
    </div>





        <div class="container top">
        <!-- <div class="row"> -->
          
                <div class="graph-card ">

    <div class="col-xl-6">
        <h4 class="card-title mt-1 kpitxt">KPI Statistics</h4>
    </div>
    <div class="col-xl-12">
        <div class="row mb-3">
            
                <div>
                    <div class="row">
                        <div class="col-xl-4">
                            <div>
                                <h5 class="card-text font-small-3 mb-0 title" style="text-align: center !important; padding-top: 10px"><small class="mb-1 text-muted"><span class="count_top"  style="color:#0a0a0a;"> % of high-risk accounts</span></small>
                                    <!-- <div class = "mytooltipright"><i class="fa fa-info-circle"  style="color: #0a0a0a;"></i> -->
                                        
        
                                          <!-- <span class = "mytext"> (% of high-risk ledgers) = (number of ledgers having overdue bills / Total number of Debtors) * 100.</span> -->
                                     
                                    <!-- </div> -->
                                
                                </h5>
                              
                            </div>
                            <div> <!-- Set a fixed height for the chart container -->
                                <div id="ceichart"></div> <!-- Set the chart's height to 100% of the container -->
                            </div>
                        
                        </div>
                        <div class="col-xl-4">
                            <div class="center-div">
                                <div>
                                    
    
                                    <h5 class="card-text font-small-3 mb-0 title" style="text-align: center !important; padding-top: 10px"><small class="mb-1 text-muted"><span class="count_top"  style="color:#0a0a0a;"> Collection Effectiveness Index</span></small>
                                        <!-- <div class = "mytooltip"><i class="fa fa-info-circle"  style="color: #080808;"></i>
                                      
                                              <span class = "mytext">CEI = (Total Cash Collections during this Fy) / (Total Outstanding Receivables at the Beginning of this Fy) * 100</span>
                                         
                                           
                                         
                                        </div> -->
                                    
                                    </h5>
                                </div>
                            </div>
                            <div class="center-div"> <!-- Set a fixed height for the chart container -->
                                <div id="highriskchart3" ></div> <!-- Set the chart's height to 100% of the container -->
                            </div>
                         
                        </div>
                        <div class="col-xl-4">
                            
                                <div>
                                    <div>
                                        <!-- <h5 class="card-text font-small-3 mb-0" style="text-align: center !important; padding-top: 10px">
                                            DSO (in {{dsothisfindays}} Days)
                                            <span
                                            class="fa fa-info-circle"
                                            tooltip="Days Sales Outstanding (DSO) = (Accounts Receivable/Net Credit Sales)x Number of days"
                                            container="body"
                                            placement="top"
                                            triggers="mouseenter" 
                                          ></span>
                                         </h5>                              -->
                                         <h5 class="card-text font-small-3 mb-0 title" style="text-align: center !important; padding-top: 10px"><small class="mb-1 text-muted"><span class="count_top"  style="color:#0a0a0a;"> DSO (in Days)</span></small>
                                            <!-- <div class = "mytooltip"><i class="fa fa-info-circle"  style="color: #080808;"></i>
                                          
                                                  <span class = "mytext">Days Sales Outstanding (DSO) = (Accounts Receivable/Net Credit Sales)x Number of days</span>
                                              
                                               
                                             
                                            </div> -->
                                        
                                        </h5> 
                                    </div>
                               
                                <div class="center-div  hover-text" style="position: relative;top: 6px;left: 0px; text-align: center !important;">
                                    <span> <h1 style="margin-top: 30px;">{{dsothisfin}}</h1></span>
                                    <!-- <span class="tooltip-text" id="top">Days Sales Outstanding (DSO) = (Accounts Receivable/Net Credit Sales)x Number of days</span> -->
                                </div>
                                
                                
                            </div>
                           
                        </div>
                    </div>
                </div>
           
        </div>
    </div>
    </div>
    <!-- </div> -->
    </div>


   





    <div class="container top">
        <div class="row">
            <div class="col-md-7">
                <div class="graph-card">

                    <div class="card-head">
                        <h2 class="card-head">Top 5 Ledger by Overdue Amount <i class="fa-solid fa-rotate-right"></i>
                        </h2>
                        <div class="dropdown">
                            <button class=" primary-drop dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <i class="fa-solid fa-chart-simple"></i> &nbsp;Bar Chart
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <div id="chart">
                        <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
                            [dataLabels]="chartOptions.dataLabels" [plotOptions]="chartOptions.plotOptions"
                            [yaxis]="chartOptions.yaxis" [legend]="chartOptions.legend" [fill]="chartOptions.fill"
                            [stroke]="chartOptions.stroke" [tooltip]="chartOptions.tooltip"
                            [xaxis]="chartOptions.xaxis"></apx-chart>
                    </div>

                </div>
            </div>

            <div class="col-md-5">
                <div class="graph-card">

                    <div class="card-head">
                        <h2 class="card-head">Over All Statistics<i class="fa-solid fa-rotate-right"></i>
                        </h2>
                        <div class="dropdown">
                            <button class=" primary-drop dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Bishir Enterprises &nbsp;
                                <i class="fa-solid fa-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <!-- overall -->
                    <div class="scrolling">

                        <div class="item">
                            <div class="icon">
                                <i class="fa-solid fa-chart-simple"></i>
                            </div>

                            <div class="data">
                                <h2>₹237,431.60</h2>
                                <p class="caption">Year To Date Sales</p>
                            </div>

                            <div class="status">
                                <p class="red">Debit Ruppes</p>
                            </div>
                        </div>

                        <div class="item">
                            <div class="icon">
                                <i class="fa-solid fa-chart-simple"></i>
                            </div>

                            <div class="data">
                                <h2>₹125,651.00</h2>
                                <p class="caption">Year To Date Receipts</p>
                            </div>

                            <div class="status">
                                <p class="green">Credit Ruppes</p>
                            </div>
                        </div>


                        <div class="item">
                            <div class="icon">
                                <i class="fa-solid fa-chart-simple"></i>
                            </div>

                            <div class="data">
                                <h2>₹11,437,934.1</h2>
                                <p class="caption">Year To Date Purchase</p>
                            </div>

                            <div class="status">
                                <p class="red">Debit Ruppes</p>
                            </div>
                        </div>


                        <div class="item">
                            <div class="icon">
                                <i class="fa-solid fa-chart-simple"></i>
                            </div>

                            <div class="data">
                                <h2>₹32,000.00</h2>
                                <p class="caption">Year To Date Payment</p>
                            </div>

                            <div class="status">
                                <p class="red">Debit Ruppes</p>
                            </div>
                        </div>


                        <div class="item">
                            <div class="icon">
                                <i class="fa-solid fa-chart-simple"></i>
                            </div>

                            <div class="data">
                                <h2>₹237,431.60</h2>
                                <p class="caption">Year To Date Sales</p>
                            </div>

                            <div class="status">
                                <p class="green">Credit Ruppes</p>
                            </div>
                        </div>

                    </div>






                </div>

            </div>
        </div>
    </div>



    <div class="container top">
        <div class="row">
            <div class="col-md-6">
                <div class="graph-card">

                    <div class="card-head">
                        <h2 class="card-head">Top 5 Ledger by Overdue Amount <i class="fa-solid fa-rotate-right"></i>
                        </h2>
                        <div class="dropdown">
                            <button class=" primary-drop dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <i class="fa-solid fa-chart-simple"></i> &nbsp;Bar Chart
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <div id="chart">
                        <apx-chart [series]="chartOptions2.series" [chart]="chartOptions2.chart"
                            [dataLabels]="chartOptions2.dataLabels" [plotOptions]="chartOptions2.plotOptions"
                            [yaxis]="chartOptions2.yaxis" [legend]="chartOptions2.legend" [fill]="chartOptions2.fill"
                            [stroke]="chartOptions2.stroke" [tooltip]="chartOptions2.tooltip"
                            [xaxis]="chartOptions2.xaxis"></apx-chart>
                    </div>

                </div>
            </div>


            <div class="col-md-6">
                <div class="graph-card">

                    <div class="card-head">
                        <h2 class="card-head">Top 5 Ledger by Overdue Amount <i class="fa-solid fa-rotate-right"></i>
                        </h2>
                        <div class="dropdown">
                            <button class=" primary-drop dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <i class="fa-solid fa-chart-simple"></i> &nbsp;Bar Chart
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <div id="chart">
                        <apx-chart [series]="chartOptions3.series" [chart]="chartOptions3.chart"
                            [dataLabels]="chartOptions3.dataLabels" [plotOptions]="chartOptions3.plotOptions"
                            [yaxis]="chartOptions3.yaxis" [legend]="chartOptions3.legend" [fill]="chartOptions3.fill"
                            [stroke]="chartOptions3.stroke" [tooltip]="chartOptions3.tooltip"
                            [xaxis]="chartOptions3.xaxis"></apx-chart>
                    </div>

                </div>
            </div>
        </div>
    </div>










        


        <div class="container top">
            <div class="row">
                <div class="col-md-12">
                    <div class="graph-card">

                        <div class="card-head">
                            <h2 class="card-head">Month wise Vouchers Status <i class="fa-solid fa-rotate-right"></i>
                            </h2>
                            <div class="dropdown">

                                <button class=" primary-drop dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">Any Date &nbsp;
                                    <i class="fa-solid fa-angle-down"></i>

                                </button>&nbsp;

                                <button class=" primary-drop dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <i class="fa-solid fa-chart-line"></i> &nbsp;Line Chart
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="clearfix"></div>

                        <div id="chart">
                            <apx-chart [series]="chartOptions4.series" [chart]="chartOptions4.chart"
                                [dataLabels]="chartOptions4.dataLabels" [plotOptions]="chartOptions4.plotOptions"
                                [yaxis]="chartOptions4.yaxis" [legend]="chartOptions4.legend" [fill]="chartOptions.fill"
                                [stroke]="chartOptions4.stroke" [tooltip]="chartOptions4.tooltip"
                                [xaxis]="chartOptions4.xaxis"></apx-chart>
                        </div>

                    </div>
                </div>
            </div>
        </div>



        <div class="container top">
            <div class="row">
                <div class="col-md-6">
                    <div class="graph-card">

                        <div class="card-head">
                            <h2 class="card-head">Top 5 Debtor's Exceeded The Credit Limit <i
                                    class="fa-solid fa-rotate-right"></i>
                            </h2>

                        </div>
                        <div class="clearfix"></div>

                        <div class="table-responsive table-scroll">
                            <table class="table">
                                <tr>
                                    <th><input type="checkbox" class="check"></th>
                                    <th>#</th>
                                    <th>Particulars</th>
                                    <th>CreditLimit</th>
                                    <th>Current Transaction value</th>
                                    <th>Credit Difference</th>
                                </tr>

                                <tr>
                                    <td><input type="checkbox" class="check"></td>
                                    <td>1</td>
                                    <td>ishan_trailer</td>
                                    <td>120.00</td>
                                    <td>32.00 K Dr</td>
                                    <td>31.88 k</td>
                                </tr>

                                <tr>
                                    <td><input type="checkbox" class="check"></td>
                                    <td>2</td>
                                    <td>ishan_trailer</td>
                                    <td>120.00</td>
                                    <td>32.00 K Dr</td>
                                    <td>31.88 k</td>
                                </tr>


                                <tr>
                                    <td><input type="checkbox" class="check"></td>
                                    <td>3</td>
                                    <td>ishan_trailer</td>
                                    <td>120.00</td>
                                    <td>32.00 K Dr</td>
                                    <td>31.88 k</td>
                                </tr>


                                <tr>
                                    <td><input type="checkbox" class="check"></td>
                                    <td>4</td>
                                    <td>ishan_trailer</td>
                                    <td>120.00</td>
                                    <td>32.00 K Dr</td>
                                    <td>31.88 k</td>
                                </tr>

                                <tr>
                                    <td><input type="checkbox" class="check"></td>
                                    <td>5</td>
                                    <td>ishan_trailer</td>
                                    <td>120.00</td>
                                    <td>32.00 K Dr</td>
                                    <td>31.88 k</td>
                                </tr>

                                <tr>
                                    <td><input type="checkbox" class="check"></td>
                                    <td>6</td>
                                    <td>ishan_trailer</td>
                                    <td>120.00</td>
                                    <td>32.00 K Dr</td>
                                    <td>31.88 k</td>
                                </tr>



                                
                            </table>
                        </div>
                    </div>
                </div>



                <div class="col-md-6">
                    <div class="graph-card">

                        <div class="card-head">
                            <h2 class="card-head">Top 5 Highest OutStanding of Debtor as of current Date<i
                                    class="fa-solid fa-rotate-right"></i>
                            </h2>

                        </div>
                        <div class="clearfix"></div>

                        <div class="table-responsive table-scroll">
                            <table class="table">
                                <tr>
                                    <th><input type="checkbox" class="check "></th>
                                    <th>#</th>
                                    <th>Particulars</th>
                
                                    <th>OutStanding Value</th>
                                   
                                </tr>

                                <tr>
                                    <td><input type="checkbox" class="check"></td>
                                    <td>1</td>
                                    <td>ishan_trailer</td>
                                    <td>120.00</td>
                                   
                                </tr>

                                <tr>
                                    <td><input type="checkbox" class="check"></td>
                                    <td>2</td>
                                    <td>ishan_trailer</td>
                                    <td>120.00</td>
                                   
                                </tr>

                                <tr>
                                    <td><input type="checkbox" class="check"></td>
                                    <td>3</td>
                                    <td>ishan_trailer</td>
                                    <td>120.00</td>
                                   
                                </tr>

                                <tr>
                                    <td><input type="checkbox" class="check"></td>
                                    <td>4</td>
                                    <td>ishan_trailer</td>
                                    <td>120.00</td>
                                   
                                </tr>

                                <tr>
                                    <td><input type="checkbox" class="check"></td>
                                    <td>5</td>
                                    <td>ishan_trailer</td>
                                    <td>120.00</td>
                                   
                                </tr>

                                <tr>
                                    <td><input type="checkbox" class="check"></td>
                                    <td>6</td>
                                    <td>ishan_trailer</td>
                                    <td>120.00</td>
                                   
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>


<!-- Calender -->
        <div class="container top">
            <div class="row">
                <div class="col-md-12">
                    <div class="graph-card calender-head">

                            <div class="arrow">

                                <span class="" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-solid fa-arrow-left" style="color: #383939;"></i>
                                </span>
                            </div>
                            <div class="card-head">
                                <h2 class="card-head cal-head"><b>May 2023</b> </h2>
                            </div>
                            <div class="arrow">

                                <span class="" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-solid fa-arrow-right" style="color: #383939;"></i>
                                </span>
                            </div>

                        
                        
                    </div>
                </div>
                <div class="col-lg-12 col-md-12">
                    <div class="graph-card cal-headings">
                        <table class="table">
                            <tr>

                                <th>Mon</th>
                                <th>Tue</th>
                                <th>Wed</th>
                                <th>Thu</th>
                                <th>Fri</th>
                                <th>Sat</th>
                                <th>Sun</th>
                            </tr>
                            <tr class="table-data">
                                <td>27</td>
                                <td>28</td>
                                <td>29</td>
                                <td>30</td>
                                <td>31</td>
                                <td>1</td>
                                <td>2</td>

                            </tr>
                            <tr class="table-data">
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>

                            </tr>
                            <tr class="table-data">
                                <td>10</td>
                                <td class="data-highlight">11</td>
                                <td class="data-high">12</td>
                                <td class="data-light">13</td>
                                <td>14</td>
                                <td>15</td>
                                <td>16</td>

                            </tr>
                            <tr class="table-data">
                                <td>17</td>
                                <td>18</td>
                                <td>19</td>
                                <td>20</td>
                                <td>21</td>
                                <td>22</td>
                                <td>23</td>

                            </tr>
                            <tr class="table-data">
                                <td>24</td>
                                <td>25</td>
                                <td class="cal-data">26</td>
                                <td class="cal-lights">27</td>
                                <td>28</td>
                                <td>29</td>
                                <td>30</td>
                            </tr>

                        </table>
                    </div>

                </div>

                <div class="col-lg-12 col-md-12">
                    <div class="graph-card">
                        
                        <ul class="cal-content">
                            <li>Today's Date - 1</li>
                            <li>Today's Invoices - 3</li>
                            <li>Due Invoices - 1</li>
                            <li>Overdue Invoices- 2</li>
                        </ul>
                    </div>

                    

                </div>
            </div>
        </div>


        <div class="clearfix"></div>

</div>


            
                                   







                  