.white-card{
    position: relative;
    
        .fa-rotate-right{
            position: absolute; 
            right: 7px;
            font-size: 11px;
            color: var(--light-grey);
            top: 7px;
        }
    
    
        .card-head{
        display: flex;
    
        .icon{
            background-color:#fb899e49;
            border-radius: 100%;
            height: 35px;
            width: 35px;
            padding: 8px 9px; 
            margin-right: 10px;
    
            img{
                width: 18px;
                display: block;
                margin: auto;
    
            }
        }
    
    
        .icon2{
            background-color:#D5E4FB;
            border-radius: 100%;
            height: 35px;
            width: 35px;
            padding: 8px 9px; 
            margin-right: 10px;
    
            img{
                width: 18px;
                display: block;
                margin: auto;
    
            }
        }
    
        .icon3{
            background-color:#DEEFD8;
            border-radius: 100%;
            height: 35px;
            width: 35px;
            padding: 8px 9px; 
            margin-right: 10px;
    
            img{
                width: 18px;
                display: block;
                margin: auto;
    
            }
        }
    
        .icon4{
            background-color:#DCFFFF;
            border-radius: 100%;
            height: 35px;
            width: 35px;
            padding: 8px 9px; 
            margin-right: 10px;
    
            img{
                width: 18px;
                display: block;
                margin: auto;
            }
        }
    
    
        h2{
            font-size: 12px;
            font-weight: 500;
            color: var(--black-color);
            // margin-top: 8px;
            margin-bottom: 0;
        }
    
    }
    
    
    .status{
        margin-top: 13px;
        margin-bottom: 6px;
    
        .red{color: var(--light-red-color); font-size: 10px; margin: 0; }
        .green{color: var(--light-green-color); font-size: 10px; margin: 0;}
    }
    
    
    .graph{ 
        .red{color: var(--light-red-color); font-size: 11px; margin: 0; }
        .green{color: var(--light-green-color); font-size: 11px; margin: 0;}
         img{width: 14px; margin-right: 3px;}
    }
    
    h3{font-size: 14px; color: var(--black-color); font-weight: 600; margin: 0;}
    
    }
    
    
    .top{
        margin-top: 25px;   
        
       
        
    }
    .scrolling{
        overflow-x: hidden;
        overflow-y: scroll;
        padding: 22px;
        height: 50vh;
        
    }
    .scrolling::-webkit-scrollbar {
        width: 6px;
         }
      
      /* Track */
      .scrolling::-webkit-scrollbar-track {
        background: #f1f1f1; 
      }
       
      /* Handle */
      .scrolling::-webkit-scrollbar-thumb {
        background: var(--primary-color); 
      }
      
      /* Handle on hover */
      .scrolling::-webkit-scrollbar-thumb:hover {
        background: #555; 
      }
    
    
    .item{
        display: flex;
        align-items:stretch;
        margin: 14px 0;
        flex-basis: fit-content;
        width: 100%;
        flex-grow: 2;
    
    
        
    
        .icon{
            width: 40px;
            height: 40px;
            background-color: #0066fe13;
            border-radius: 100%;
            padding: 7px 14px;
            margin-right: 16px;
    
            i{
                color:var(--primary-color);
                font-size: 14px;
                text-align: center;
            }
            
    
            
        }
    
    
        .data{
                h2{
                    font-size: 13px;
                    margin-top: 3px;
                    margin-bottom: 3px;
                    color: var(--black-color);
                    font-weight: 600;
                }
                .caption{
                    font-size: 10px;
                    color: var(--light-grey);
                    margin: 0;
                }
    
        }
    
        .status{
            flex-grow: 3;
    
            
                font-size: 10px;
                color: var(--light-red-color);
                margin-top: 2px;
                text-align: right;
                .red{color: var(--light-red-color);  margin: 0; }
                .green{color: var(--light-green-color);  margin: 0;}
    
            
        }
    
       
    }
    
    
    #statistics {
        border-radius: 120px;
      }
      
      .tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
       
      }
      
      .tooltip:hover .tooltiptext {
        visibility: visible;
      }
      
      /* Tooltip text */
      .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        position: absolute;
        z-index: 1;
      }
      
    
    
      .card1{
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
        margin-top: var(--bs-gutter-y);
      }
    
    
      .kpitxt {
        font-size: 14px;
      }
    
    .title {
        font-size: 12px;
    }

.cards-space {
    margin-top: 15px;
    margin-bottom: 15px;
}


.card-height{
    height: 106px;
    border: 1px solid grey;
    border-radius: 4px;

}

.contain{
    background-color: #fff;
    padding: 15px;
}

.card-align {
    text-align: center;
    margin-top: 10px;
}

.head {
    margin-top: 0px
}


.calender-head { 
    display: flex;
    justify-content: space-between;
    
}
.cal-head {
    color: var(--primary-color);
}

.cal-headings th{
    color: #000;
    text-align: center;
    background-color: #fff;

}
.cal-headings table {
    margin-top: 0px;
}

.table-data {
    text-align: center;
}

.data-highlight {
    background-color: var(--primary-color);
    color: #fff;
    border: 1px solid transparent;
    border-radius: 15px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.data-high{
    background-color: var(--primary-color);
    color: #fff;
    border: 1px solid transparent;
}
.data-light{
    background-color: var(--primary-color);
    color: #fff;
    border: 1px solid transparent;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;

}

.cal-data {
    background-color: #FEC836;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 15px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.cal-lights{
    background-color: #FEC836;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;

}

.cal-content {
    display: flex;
    justify-content: space-between;
}