
<div class="graph-card">

    <div class="card-head">
        <h2 class="card-head">Ageing Report As Per Current Date<i
                class="fa-solid fa-rotate-right"></i>
        </h2>
    </div>
    <div class="clearfix"></div>
    <div class="card-head1">
        <!-- <label for="browser" class="form-label">Choose Customer</label>
            <input class="" list="browsers" name="browser" id="browser">
        <datalist id="browsers">
            <option value="Edge">
            <option value="Firefox">
            <option value="Chrome">
            <option value="Opera">
            <option value="Safari">
        </datalist> -->

        <!--  <button class="btnspace primary-drop dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i> &nbsp;Search in All
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul> -->
        <button class=" btnspace primary-drop dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i> &nbsp; Choose customer
        </button>
        <!-- <i class="fa-solid fa-rotate-right"></i> -->
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
        <button class="primary-drop dropdown-toggle" type="button"
            aria-expanded="false">
            <i class="fa-solid fa-arrow-down" style="color: #ffffff;"></i>&nbsp; Download
        </button>
    </div>

    
    <div class="clearfix"></div>

    <div class="table-responsive table-scroll">
        <table class="table">
            <tr class="txt">
                <th><input type="checkbox" class="check "></th>
                <th>#</th>
                <th>Customer Name</th>

                <th>Not due</th>
                <th>0-30</th>
                <th>31-60</th>
                <th>61-90</th>
                <th>91-120</th>
                <th>120-180</th>
                <th>180-365</th>
                <th>Above 365</th>

                <th>Total</th>
               
            </tr>

            <!-- <tr>
                <td><input type="checkbox" class="check"></td>
                <td>1</td>
                <td>Amul</td>
                <td>0</td>
                <td>12</td>
                <td>12</td>
                <td>120.00</td>
               
            </tr> -->

            <!-- <tr>
                <td><input type="checkbox" class="check"></td>
                <td>2</td>
                <td>KUR</td>
                <td>120.00</td>
                <td>120.00</td>
                <td>120.00</td>
                <td>120.00</td>
               
            </tr>

            <tr>
                <td><input type="checkbox" class="check"></td>
                <td>3</td>
                <td>Crystal</td>
                <td>120.00</td>
                <td>120.00</td>
                <td>120.00</td>
                <td>120.00</td>
               
            </tr> -->

            <!-- <tr>
                <td><input type="checkbox" class="check"></td>
                <td>4</td>
                <td>ishan_trailer</td>
                <td>120.00</td>
               
            </tr>

            <tr>
                <td><input type="checkbox" class="check"></td>
                <td>5</td>
                <td>ishan_trailer</td>
                <td>120.00</td>
               
            </tr>

            <tr>
                <td><input type="checkbox" class="check"></td>
                <td>6</td>
                <td>ishan_trailer</td>
                <td>120.00</td>
               
            </tr> -->
        </table>
    </div>

    <div class="pagination">

        <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Previous</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>
    </div>
</div>

