<div class="graph-card">

    <div class="card-head">
        <h2 class="card-head"><b>DP Power Calculator</b><i
                class="fa-solid fa-rotate-right"></i>
        </h2>
    </div>
    <div class="clearfix"></div>
    
    <div class="table-responsive table-scroll">
        <table class="table center" >
            <tr class="txt">
                <td>A</td>
                <td>Total Stock
                    (Enter the Value)</td>
                <td>
                    <input type="number" name="" id="">
                </td>
            </tr>
            <tr class="txt">
                <td>B</td>
                <td>Less: Creditors
                    (Enter the Value)</td>
                <td>
                    <input type="number" name="" id="">
                </td>
            </tr>
            <tr class="txt">
                <td>C</td>
                <td>Net paid stock (A-B)	</td>
                <td>
                    <input type="number" name="" id="">
                </td>
            </tr>
            <tr class="txt">
                <td>D</td>
                <td>Less: Margin onstock @ <input type="number" class="boxtable"> %</td>
                <td>
                    <input type="number" name="" id="">
                </td>
            </tr>
            <tr class="txt">
                <td>E</td>
                <td>Drawing Power (DP) on stock (C-D)</td>
                <td>
                    <input type="number" name="" id="">
                </td>
            </tr>
            <tr class="txt">
                <td>F</td>
                <td>Total book debtors
                    (Enter the Value)</td>
                <td>
                    <input type="number" name="" id="">
                </td>
            </tr>
            <tr class="txt">
                <td>G</td>
                <td>Less: debtors>90 days
                    (Enter the Value)</td>
                <td>
                    <input type="number" name="" id="">
                </td>
            </tr>
            <tr class="txt">
                <td>H</td>
                <td>Net debtors for DP(F-G)</td>
                <td>
                    <input type="number" name="" id="">
                </td>
            </tr>
            <tr class="txt">
                <td>I</td>
                <td>Less:margin on debtors @<input type="number" class="boxtable"> %</td>
                <td>
                    <input type="number" name="" id="">
                </td>
            </tr>
            <tr class="txt">
                <td>J</td>
                <td>Drawing Power (DP) on debtors (H-I)</td>
                <td>
                    <input type="number" name="" id="">
                </td>
            </tr>
            <tr class="txt">
                <td>K</td>
                <td><b>Total drawing power (E+J)</b></td>
                <td>
                    <input type="number" name="" id="">
                </td>
            </tr>
          
            
        </table>
    </div>

    
</div>

