<div class="graph-card">

    <div class="card-head">
        <h2 class="card-head">Company Details<i
                class="fa-solid fa-rotate-right"></i>
        </h2> 
    </div>
    <div class="clearfix"></div>
    <div class="create mt-2">
        <button class="primary-drop" type="button" aria-expanded="false" (click)="openModel()" data-bs-toggle="modal" data-bs-target="#myModal">
            <i class="fa-solid fa-plus" style="color: #ffffff;"></i>&nbsp; Add Company
        </button>
    </div>
    <div class="clearfix"></div>
    <div class="card-head1">
            <input type="text" class="form-control form-input search" placeholder="Search Here">
            <button class="btnspace primary-drop dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i> &nbsp;Search in All
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Search in All</a></li>
            <li><a class="dropdown-item" href="#">First Name</a></li>
            <li><a class="dropdown-item" href="#">Last Name</a></li>
            <li><a class="dropdown-item" href="#">Designation</a></li>
            <li><a class="dropdown-item" href="#">Created At</a></li>
            <li><a class="dropdown-item" href="#">Email</a></li>
            <li><a class="dropdown-item" href="#">Contact</a></li>
            <!-- <li><a class="dropdown-item" href="#">Something else here</a></li> -->
        </ul>
        <button class=" btnspace primary-drop dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Select an Action
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Edit</a></li>
            <li><a class="dropdown-item" href="#">Remove</a></li>
            
        </ul>
        <button class="primary-drop dropdown-toggle" type="button"
            aria-expanded="false">
            <i class="fa-solid fa-arrow-down" style="color: #ffffff;"></i>&nbsp; Download
        </button>
    </div>


<div class="clearfix"></div>

<div class="table-responsive table-scroll">
    <table class="table">
        <tr class="txt">
            <!-- <th><input type="checkbox" class="check "></th> -->
            <th>#</th>
            <th>Company name</th>
            <th>Company Email</th>
            <th>Company Contact</th>
            <th>Created At</th>
            
            <th>Updated At</th>
            
        </tr>
    </table>
</div>

<div class="pagination">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav>
</div>


<!-- Modal -->


        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-xl" style="width: 1150;">
                <div class="modal-content">
                    <div class="modal-head headings">
                                <h4 class="modal-title">Add Company</h4>
                                <button type="button" class="close btnclose" (click)="closeModel()" data-bs-dismiss="modal">&times;</button> 
                                <span class="field">'*' mark Fields are Mandatory</span>
                    </div>
                            <div class="modal-body">
                                <form>
                            
                                    <div class="row">
                                        <div class="col-md-6 mb-2">
                                            <label for="Company ID">Company ID</label>
                                            <input type="text" class="form-control" placeholder="" name="id">
                                        </div>
                                        <div class="col-md-6 mb-2">
                                            <label for="Company Name">Company Name</label>
                                            <input type="text" class="form-control" placeholder="Company Name" name="name">
                                        </div>
                                        <div class="col-md-6 mb-2">
                                            <label for="Company Email">Company Email</label>
                                            <input type="text" class="form-control" placeholder="Company Email" required>
                                        </div>
                                        <div class="col-md-6 mb-2">
                                            <label for="Company Contact">Company Contact</label>
                                            <input type="text" class="form-control" placeholder="Company Contact" required>
                                        </div>
                            
                
                                        <div class="col-md-12 mb-2">
                                            <label for="Company Address">Company Address</label>
                                            <input type="text" class="form-control" placeholder="Company Address" required>
                                        </div>
                                        
                                        <div class="col-md-3 mb-2">
                                            <label for="Company status">Company status</label>
                                                <select class="form-select mb-2" >
                                                    <option >Select Company Status</option>
                                                    <option value="active">Active</option>
                                                    <option value="inactive">Inactive</option>
                                                </select>
                                        </div>
                                        <div class="col-md-3 mb-2">
                                            <label for="Mail Status">Mail Status</label>
                                            <select class="form-select mb-2" >
                                                    <option >Select Mail Status</option>
                                                    <option value="active">Active</option>
                                                    <option value="inactive">Inactive</option>
                                            </select> 
                                        </div>
                                        <div class="col-md-3 mb-2">
                                            <label for="Whatsapp Status">Whatsapp Status</label>
                                            <select class="form-select mb-2" >
                                                    <option >Select Whatsapp Status</option>
                                                    <option value="active">Active</option>
                                                    <option value="inactive">Inactive</option>
                                            </select> 
                                        </div>
                                        <div class="col-md-3 mb-2">
                                            <label for="Creditor Reminder Status">Creditor Reminder Status</label>
                                            <select class="form-select mb-2" >
                                                    <option > Select Creditor Reminder Status</option>
                                                    <option value="active">Active</option>
                                                    <option value="inactive">Inactive</option>
                                            </select> 
                                        </div>
                   
                            </div>    
                    </form>
                </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" (click)="closeModel()" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btnspace btn-primary disabled" (click)="closeModel()" data-bs-dismiss="modal">Submit</button>
                            </div>
                           
                          
                          </div>
                      
                        </div>
        </div>

</div>

