
<div class="graph-card">

    <div class="card-head">
        <h2 class="card-head title">MSME Details ( Micro,Small and Medium Enterprise)<i
                class="fa-solid fa-rotate-right"></i>
        </h2>
    </div>
    <div class="clearfix"></div>
    <div class="clearfix"></div>
    
    

    <form>
        
        <div class="row">
          <div class="col-md-4 mb-2">
          <label>UAN No. ( Udyog Aadhaar Number)</label>
            <input type="text" class="form-control" placeholder="eg MH26DO982762" name="udyog">
          </div>
          <div class="col-md-4 mb-2">
            <label>Name of Enterprise</label>
            <input type="text" class="form-control" placeholder="eg Abc Pvt Ltd" name="name">
          </div>
          <div class="col-md-4 mb-2">
            <label for="Date of Commencement/ Registration">Date of Commencement/ Registration</label>
            <input type="date" class="form-control" placeholder="" name="email">
          </div>
          <div class="col-md-4 mb-2">
            <label for="Major Activity">Major Activity</label>
            <input type="text" class="form-control" placeholder="eg SERVICES" name="pswd">
          </div>
          <div class="col-md-4 mb-2">
            <label for="Enterprise Type">Enterprise Type</label>
            <select class="form-select mb-2" aria-label="Default select example">
                <option selected></option>
                <option value="micro">Micro</option>
                <option value="small">Small</option>
                <option value="medium">Medium</option>
              </select>
          </div>
          <div class="col-md-4 mb-2">
            <label for="formFileMultiple">Upload MSME Certificate</label>
            <input class="form-control" type="file" id="formFileMultiple" multiple>
          </div>

          
        </div>
        
        <button class="btn btn-primary disabled" type="submit">Save</button>
       
      </form>

    
    <div class="clearfix"></div>

    <div class="table-responsive table-scroll">
        <table class="table">
            <!-- <tr class="txt">
                <th>Quick Links</th>
            </tr> -->
            <thead>Quick Links...</thead>
            <tr>
                
                <td><a href="https://samadhaan.msme.gov.in/MyMsme/MSEFC/COM_MSEFC_EntLogin.aspx" target="_blank">1. Login to MSME Portal</a></td>
                <!-- <td><a href="https://samadhaan.msme.gov.in/MyMsme/MSEFC/COM_MSEFC_EntLogin.aspx" target="_blank"> Click here</a></td> -->
            </tr>

            <tr>
                
                <td><a href="https://taxguru.in/corporate-law/msme-samadhaan-delayed-payment-monitoring-system-faqs.html" target="_blank">2. MSME FAQ</a></td>
                <!-- <td><a href="https://samadhaan.msme.gov.in/MyMsme/MSEFC/COM_MSEFC_EntLogin.aspx" target="_blank"> Click here</a></td> -->
            </tr>

            <tr>
                
                <td><a href="https://play.google.com/store/search?q=MyMSME&c=apps" target="_blank"> 3. Mobile App (Beta Version) is available now for download</a></td>
                <!-- <td><a href="https://samadhaan.msme.gov.in/MyMsme/MSEFC/COM_MSEFC_EntLogin.aspx" target="_blank"> Click here</a></td> -->
            </tr>

            <!-- <tr>
                <td><input type="checkbox" class="check"></td>
                <td>2</td>
                <td>Amazon</td>
                <td>2967509.83 Cr</td>
                <td>370086711.15 Cr</td>
               
            </tr>

            <tr>
                <td><input type="checkbox" class="check"></td>
                <td>3</td>
                <td>Amazon</td>
                
                <td>2967509.83 Cr</td>
                <td>370086711.15 Cr</td>
               
            </tr>

            <tr>
                <td><input type="checkbox" class="check"></td>
                <td>4</td>
                <td>Amazon</td>
                
                <td>2967509.83 Cr</td>
                <td>370086711.15 Cr</td>
               
            </tr> -->


            <!-- <tr>
                <td><input type="checkbox" class="check"></td>
                <td>4</td>
                <td>ishan_trailer</td>
                <td>120.00</td>
               
            </tr>

            <tr>
                <td><input type="checkbox" class="check"></td>
                <td>5</td>
                <td>ishan_trailer</td>
                <td>120.00</td>
               
            </tr>

            <tr>
                <td><input type="checkbox" class="check"></td>
                <td>6</td>
                <td>ishan_trailer</td>
                <td>120.00</td>
               
            </tr> -->
        </table>
    </div>

    
</div>

