
<div class="graph-card">

    <div class="card-head">
        <h2 class="card-head title">GST Registration Details (Goods And Services Tax)<i
                class="fa-solid fa-rotate-right"></i>
        </h2>
    </div>
    <div class="clearfix"></div>

    <div class="card-head1">

        <button class="btnspace primary-drop" type="button" aria-expanded="false">
            Report
        </button>
        
        <button class=" btnspace primary-drop " type="button" aria-expanded="false">
            <i class="fa-solid fa-arrow-down" style="color: #ffffff;"></i>&nbsp; Download Sale Report
        </button>
       
        <button class="primary-drop dropdown-toggle" type="button"aria-expanded="false">
            <i class="fa-solid fa-arrow-down" style="color: #ffffff;"></i>&nbsp; Download Purchase
        </button>
    </div>

    <div class="clearfix"></div>
    
    

    <form>
        
        <div class="row">
                <div class="col-md-6 mb-3 mt-3">
                    <label for="Enterprise Type">Select Month</label>
                    <select class="form-select mb-2" aria-label="Default select example">
                        <option value="default">Select Month</option>
                                <option value="1">Jan</option>
                                <option value="2">Feb</option>
                                <option value="3">Mar</option>
                                <option value="4">Apr</option>
                                <option value="5">May</option>
                                <option value="6">Jun</option>
                                <option value="7">Jul</option>
                                <option value="8">Aug</option>
                                <option value="9">Sep</option>
                                <option value="10">Oct</option>
                                <option value="11">Nov</option>
                                <option value="12">Dec</option>
                    </select>
                </div>
                <div class="col-md-6 mb-3 mt-3">
                    <label>Registration Type</label>
                    <select class="form-select mb-2" aria-label="Default select example">
                                    <option value="1">Regular</option>
                                    <option value="2">Composition</option>
                                </select>
                </div>
                <div class="col-md-6 mb-3">
                    <label>Name of Enterprise</label>
                    <input type="text" class="form-control" placeholder="eg Abc Pvt Ltd" name="name">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="Major Activity">GSTIN/UIN</label>
                    <input type="text" class="form-control" placeholder="eg 27AABCU9603R1ZN" name="pswd">
                </div>
                

          
        </div>
        
        <button class="btn btn-primary disabled btnspacing" type="submit">Save</button>
        <button class="btn btn-primary disabled" type="submit">Update</button>
       
      </form>

    
    <div class="clearfix"></div>

    <div class="table-responsive table-scroll">
        <table class="table">
            <!-- <tr class="txt">
                <th>Quick Links</th>
            </tr> -->
            <thead>Quick Links...</thead>
            <tr>
                
                <td><a href="https://services.gst.gov.in/services/login" target="_blank">1. Login to GST Portal</a></td>
                <!-- <td><a href="https://samadhaan.msme.gov.in/MyMsme/MSEFC/COM_MSEFC_EntLogin.aspx" target="_blank"> Click here</a></td> -->
            </tr>

            <tr>
                
                <td><a href="https://ewaybillgst.gov.in/" target="_blank">2. Login to e-Way Bill Portal</a></td>
                <!-- <td><a href="https://samadhaan.msme.gov.in/MyMsme/MSEFC/COM_MSEFC_EntLogin.aspx" target="_blank"> Click here</a></td> -->
            </tr>

            <tr>
                
                <td><a href="https://www.gst.gov.in/" target="_blank">3. View of Upcoming Due Dates for GST Filling</a></td>
                <!-- <td><a href="https://samadhaan.msme.gov.in/MyMsme/MSEFC/COM_MSEFC_EntLogin.aspx" target="_blank"> Click here</a></td> -->
            </tr>

            <tr>
                
                <td><a href="https://einvoice1.gst.gov.in/" target="_blank">4. Login to e-Invoice Portal</a></td>
                <!-- <td><a href="https://samadhaan.msme.gov.in/MyMsme/MSEFC/COM_MSEFC_EntLogin.aspx" target="_blank"> Click here</a></td> -->
            </tr>
            <!-- <tr>
                <td><input type="checkbox" class="check"></td>
                <td>2</td>
                <td>Amazon</td>
                <td>2967509.83 Cr</td>
                <td>370086711.15 Cr</td>
               
            </tr>

            <tr>
                <td><input type="checkbox" class="check"></td>
                <td>3</td>
                <td>Amazon</td>
                
                <td>2967509.83 Cr</td>
                <td>370086711.15 Cr</td>
               
            </tr>

            <tr>
                <td><input type="checkbox" class="check"></td>
                <td>4</td>
                <td>Amazon</td>
                
                <td>2967509.83 Cr</td>
                <td>370086711.15 Cr</td>
               
            </tr> -->


            <!-- <tr>
                <td><input type="checkbox" class="check"></td>
                <td>4</td>
                <td>ishan_trailer</td>
                <td>120.00</td>
               
            </tr>

            <tr>
                <td><input type="checkbox" class="check"></td>
                <td>5</td>
                <td>ishan_trailer</td>
                <td>120.00</td>
               
            </tr>

            <tr>
                <td><input type="checkbox" class="check"></td>
                <td>6</td>
                <td>ishan_trailer</td>
                <td>120.00</td>
               
            </tr> -->
        </table>
    </div>

    
</div>

