/* You can add global styles to this file, and also import other style files */
*{
    padding: 0;
    margin: 0;
}

body{
    font-family: var(--font-family) !important;
    background-color: var(--body-color) !important;
    overflow-y: hidden;
}


:root{
    --primary-color:#0065fe;
    --dark-grey:#6a6a6a;
    --light-grey:#c7c7c7;
    --font-family:'Poppins', sans-serif;
    --body-color:#f7f7f7; 
    --black-color:#2b2b2b;
    --light-blue-color:#A7C5F6;
    --light-red-color:#FB899E;
    --white-color:#fff;
    --light-green-color:#3E9F1C; 
    --font-size: 12px;
}



// common component style
.white-card{background-color: var(--white-color); padding: 15px; border-radius: 4px; }
.graph-card{background-color: var(--white-color); padding: 15px; border-radius: 4px; }

.card-head{

    h2{color: var(--black-color); font-size: 12px;  float: left; margin-top: 9px;}

    .dropdown{
        float: right;

       .primary-drop{
font-size: 9px;
        }
    
    }
   
    .fa-rotate-right{color: var(--light-grey); font-size: 11px; margin-left: 7px; }
}
// common status for card and statistics
.red{color: var(--light-red-color); font-size: 10px; margin: 0; }
.green{color: var(--light-green-color); font-size: 10px; margin: 0;}


// common dropdown style
.primary-drop{
    background-color: var(--primary-color); 
    border: none;
    font-size: 11px; 
    color: var(--white-color); 
    padding: 7px 12px;
    border-radius: 4px;
    
    

&::after{
// content: '\f107' !important;
// font-family: "FontAwesome" !important;
// display: block;
// font-size: 10px !important;
// color: #fff;
border: none !important;
// z-index: 99;
// margin-left: 5px !important;
// display: inline-block;
// vertical-align: middle !important;



}

}



// comman table style
.table{width: 100%; border: none;
    overflow-y: hidden;
    overflow-x: scroll;
 margin-bottom: 0;
 margin-top: 15px;

    th:first-child{
       border-top-left-radius: 4px;
       border-bottom-left-radius: 4px;
    }

    th:last-child{
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
     }


    td{
        padding: 6px;
        color: var(--black-color);
        font-size: 10px;
    }

    .check{
        width: 10px;
        height: 10px;
        border-radius: 6px; 
        background-color: var(--light-grey) !important;
        border: none !important; 
        margin: 4px;
        box-shadow: none !important;

    }


    th{
        color: #fff;
        font-size: 9px;
        padding: 6px;   
        background-color: var(--primary-color);
    }


    
 .table-scroll::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .table-scroll::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  .table-scroll::-webkit-scrollbar-thumb {
    background: var(--primary-color); 
  }
  
  /* Handle on hover */
  .table-scroll::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


}
    
   
label {
    font-size: 12px;
}


li {
    font-size: var(--font-size);
}

input {
    font-size: var(--font-size);
}


.graph{ 
    .red{color: var(--light-red-color); font-size: 11px; margin: 0; }
    .green{color: var(--light-green-color); font-size: 11px; margin: 0;}
     img{width: 14px; margin-right: 3px;}
}

h3{font-size: 14px; color: var(--black-color); font-weight: 600; margin: 0;}






.top{
margin-top: 25px;   



}
.scrolling{
overflow-x: hidden;
overflow-y: scroll;
padding: 22px;
height: 50vh;

}
.scrolling::-webkit-scrollbar {
width: 6px;
 }

/* Track */
.scrolling::-webkit-scrollbar-track {
background: #f1f1f1; 
}

/* Handle */
.scrolling::-webkit-scrollbar-thumb {
background: var(--primary-color); 
}

/* Handle on hover */
.scrolling::-webkit-scrollbar-thumb:hover {
background: #555; 
}


.item{
display: flex;
align-items:stretch;
margin: 14px 0;
flex-basis: fit-content;
width: 100%;
flex-grow: 2;




.icon{
    width: 40px;
    height: 40px;
    background-color: #0066fe13;
    border-radius: 100%;
    padding: 7px 14px;
    margin-right: 16px;

    i{
        color:var(--primary-color);
        font-size: 14px;
        text-align: center;
    }
    

    
}


.data{
        h2{
            font-size: 13px;
            margin-top: 3px;
            margin-bottom: 3px;
            color: var(--black-color);
            font-weight: 600;
        }
        .caption{
            font-size: 10px;
            color: var(--light-grey);
            margin: 0;
        }

}

.status{
    flex-grow: 3;

    
        font-size: 10px;
        color: var(--light-red-color);
        margin-top: 2px;
        text-align: right;
        .red{color: var(--light-red-color);  margin: 0; }
        .green{color: var(--light-green-color);  margin: 0;}

    
}


}

.graph-card{background-color: var(--white-color); padding: 15px; border-radius: 4px; margin-top: 20px;}

.txt {
text-transform: capitalize;
}



.card-head1{
display: flex;
justify-content: flex-end;
}


.btnspace{
margin-right: 10px;
}

.pagination{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 15px;
    justify-items: center;
}


.graph{ 
    .red{color: var(--light-red-color); font-size: 11px; margin: 0; }
    .green{color: var(--light-green-color); font-size: 11px; margin: 0;}
     img{width: 14px; margin-right: 3px;}
}

h3{font-size: 14px; color: var(--black-color); font-weight: 600; margin: 0;}

.txtspace{
    margin-top: 15px;
    margin-bottom: 7px;
}

.texts {
    font-size: var(--font-size);
}
p {
    font-size: var(--font-size);
}

.note{
    color: rgb(233, 61, 61);
    margin-top: 20px;
}

li {
    font-size: var(--font-size);
}





