
  .timely {
    color: #2C9E09;
    font-weight: 700;
    font-size: 12px;
  }
  
  .overdue {
    color: #FF0000;
    font-weight: 700;
    font-size: 12px;
  }
 
 
 
 .background {
    
     background: #fff;
     margin: 15px;
     border-radius: 4px;
     /* margin-right: 15px; */
     margin-right: -18px;
 
 
 }
 
 .background1 {
   background: #fff;
   margin-left: 15px;
   // border-radius: 20px;
 
 }
 
 .chart {
   margin-bottom: 0;
   border-bottom-left-radius: 0%;
   border-bottom-right-radius: 0%;
 
 }
 
 .cardback{
     display: flex;
     padding: 10px;
 }
 
 // #chart {
 //   width: 1059px;
 //   /* margin: 35px auto; */
 //   display: flex;
 //   justify-content: center;
 //   }
 
   .select-cols {
     width:110px;
     height:32px;
     padding: 6px 10px ;
     display: inline-block;
     border: none;
     border: 1px solid  #5f5f5f6b!important;
     border-radius: 4px;
     font-size: 13px; 
     margin-bottom: 15px;  
     color: #5f5f5fc2 ;  
   }
 
 .txt {
   position: relative;
     text-align: center;
     top: -43px;
 }
 
 .background h5{
   font-size: 12px;
   font-weight: 500;
   color: var(--black-color);
   margin-bottom: 0;
 }
 
 
 th {
   border: 1px solid black; border-bottom: 1px solid black ;
   padding: 15px;
   // background-color: #003466;
   text-align: center;
   color: #003466;
 }
 
 td {
   border: 1px solid black;
   text-align: center;
 }
 
 
 .table-res {
   padding-top: 15px;
   padding-left: 15px;
   padding-bottom: 15px;
   padding-right: 40px;
 }
 
 table {
   width: 100%;
 }
 
 .chart-side {
   padding-right: 30px;
 }
 .chartsides {
   margin-left: 2px;
 }
 
 .chart-box1 {
   box-shadow: none !important;
   background-color: #fff;
   border-radius: 5px;
   margin-bottom: 30px;
   padding: 20px;
   width: auto;
   height: auto;
 }
 
 
 .sales-chart{
     display: flex;
     justify-content: space-between;
     padding: 25px;
 }
 
 
 .tablewidth {
   width: max-content;
 }
 
 // #chart1 {
 //   // width: 840px;
 //   /* margin: 35px auto; */
 //   // display: flex;
 //   // justify-content: center;
 //   }
 
 .back {
   margin-left: 28px;
 
 }
 
 .headings {
   
     border-bottom: 1px solid #e2e5e8;
     font-size: 13px;
     color: #37474f;
     background-color: #f6f6f6;
     text-transform: uppercase;
 
 }
 
 h5{
   font-size: 16px;
   font-weight: 500;
   color: var(--black-color);
   margin-top: 8px;
   margin-bottom: 0;
 }
 
 .graph-card{background-color: var(--white-color); padding: 15px; border-radius: 4px; }
 
 .txtdrop {
  padding: 10px;
  display: flex;
  flex-direction: row-reverse;
 }
 
 .btn1{
   margin-right: 5px;
 }
 // .btn2{
 //   margin-right: 5px;
 // }
 
 
 .txt3 {
   padding: 10px;
 }
 
 .txt4 {
   padding-left: 30px;
   padding-top: 10px;
   padding-bottom: 10px;
 }
 
 .txt5 {
   font-size: 12px;
 }
 
 
 // .tableback {
 //   border: none;
 //   padding: 15px;
 //   // background-color: #003466;
 //   text-align: center;
 //   color: #fff;
 
 // }
 
 // .tablehead th{
 //     color: #fff;
 //     font-size: 9px;
 //     padding: 6px;
 //     background-color: var(--primary-color);
 // }
 
 
 .headings th {
   border: none;
   padding: 15px;
   background-color: #0065fe;
   text-align: center;
   color: #fff;
   text-transform: capitalize;
 }
 
 .head td{
  border: none !important;
 }

 .cards {
  margin-left: 15px;
 }