// #underline-gap {
//     text-decoration: underline;
 
//   }
 
//   th {
//     border: 1px solid black; border-bottom: 1px solid black !important;
//     padding: 15px;
//     // background-color: #003466;
//     text-align: center;
//     color: #003466;
//   }
 
 
 
//   .select-cols {
//    width:110px;
//    height:32px;
//    padding: 6px 10px ;
//    display: inline-block;
//    border: none;
//    border: 1px solid  #5f5f5f6b!important;
//    border-radius: 4px;
//    font-size: 13px; 
//    margin-bottom: 15px;  
//    color: #5f5f5fc2 ;  
//  }
 
 
//   td {
//     border: 1px solid black;
//     text-align: center;
//   }
 
//   .chart-box {
//     box-shadow: none !important;
//     background-color: #fff;
//     border-radius: 5px;
//     margin-bottom: 30px;
//     padding: 20px;
//   }
 
 
//   h5 b {
//     font-family: 'Inter', sans-serif !important;
//   }
 
//   .custom-select {
//     border: 1.5px solid #121111;
//     font-weight: bold;
//   }
 
//   .select2-container .select2-selection--single{
//    height:34px !important;
//  }
//  .select2-container--default .select2-selection--single{
//         border: 1px solid #ccc !important; 
//     border-radius: 0px !important; 
//  }
 
//  .dropbtn {
//    background-color: #04AA6D;
//    color: white;
//    padding: 16px;
//    font-size: 16px;
//    border: none;
//    cursor: pointer;
//  }
 
//  .dropbtn:hover, .dropbtn:focus {
//    background-color: #3e8e41;
//  }
 
//  #myInput {
//    box-sizing: border-box;
//    background-position: 14px 12px;
//    background-repeat: no-repeat;
//    font-size: 16px;
//    padding: 14px 20px 12px 45px;
//    border: none;
//    border-bottom: 1px solid #ddd;
//  }
 
//  #myInput:focus {outline: 3px solid #ddd;}
 
//  .dropdown {
//    position: relative;
//    display: inline-block;
//  }
 
//  .dropdown-content {
//    display: none;
//    position: absolute;
//    background-color: #f6f6f6;
//    min-width: 230px;
//    overflow: auto;
//    border: 1px solid #ddd;
//    z-index: 1;
//  }
 
//  .dropdown-content a {
//    color: black;
//    padding: 12px 16px;
//    text-decoration: none;
//    display: block;
//  }
 
//  .dropdown a:hover {background-color: #ddd;}
 
//  .show {display: block;}
 
 
//  p {
//    font-family: Lato;
//  }
 
 
//  .statusDropdownContainer, .calendarBtnContainer{
//      padding-top: 6px;
//  }
 
//  .statusFilterDropdown{
//      box-shadow: -2px 2px 4px 0px #888;
//      background-color: #f2f8f9;
//      border: 1px solid #d3d3d3;
//  }
//  .btn{
//    width: 100% !important;
//    background-color: transparent;
//    border: 1px solid black !important;
//    padding: 0.375rem 0.75rem;
//    font-size: 1rem;
//    line-height: 1.5;
//    border-radius: 0.25rem;
//   text-align: center;
//    box-shadow: none;
//    height: 20px;
 
//  }
//  .statusFilterDropdown[_ngcontent-gfj-c193] {
   
//    background-color: #f2f8f9;
//    border: 1px solid #d3d3d3;
//  }
 
 
//  .statusDropdownContainer, .calendarBtnContainer{
//      padding-top: 6px;
//  }
 
//  .select2-container .select2-selection--single{
//    height:34px !important;
//  }
//  .select2-container--default .select2-selection--single{
//         border: 1px solid #ccc !important; 
//     border-radius: 0px !important; 
//  }
 
//  .dropbtn {
//    background-color: #04AA6D;
//    color: white;
//    padding: 16px;
//    font-size: 16px;
//    border: none;
//    cursor: pointer;
//  }
 
//  .dropbtn:hover, .dropbtn:focus {
//    background-color: #3e8e41;
//  }
 
//  #myInput {
//    box-sizing: border-box;
//    background-position: 14px 12px;
//    background-repeat: no-repeat;
//    font-size: 16px;
//    padding: 14px 20px 12px 45px;
//    border: none;
//    border-bottom: 1px solid #ddd;
//  }
 
//  #myInput:focus {outline: 3px solid #ddd;}
 
//  .dropdown {
//    position: relative;
//    display: inline-block;
//  }
 
//  .dropdown-content {
//    display: none;
//    position: absolute;
//    background-color: #f6f6f6;
//    min-width: 230px;
//    overflow: auto;
//    border: 1px solid #ddd;
//    z-index: 1;
//  }
 
//  .dropdown-content a {
//    color: black;
//    padding: 12px 16px;
//    text-decoration: none;
//    display: block;
//  }
 
//  .dropdown a:hover {background-color: #ddd;}
 
//  .show {display: block;}
 
 
//  p {
//    font-family: Lato;
//  }
 
 
//  .statusDropdownContainer, .calendarBtnContainer{
//      padding-top: 6px;
//  }
 
//  .statusFilterDropdown{
//      box-shadow: -2px 2px 4px 0px #888;
//      background-color: #f2f8f9;
//      border: 1px solid #d3d3d3;
//  }
//  .btn{
//    width: 100% !important;
//    background-color: transparent;
//    border: 1px solid black !important;
//    padding: 0.375rem 0.75rem;
//    font-size: 1rem;
//    line-height: 1.5;
//    border-radius: 0.25rem;
//   text-align: left;
//    box-shadow: none;
//    height: 20px;
 
//  }
//  .statusFilterDropdown[_ngcontent-gfj-c193] {
   
//    background-color: #f2f8f9;
//    border: 1px solid #d3d3d3;
//  }
 
//  .dropdown-menu.show{
//    height: 300px;
//    overflow: scroll;
//    overflow-x: hidden;
//    border-radius: 4px;
//  }
 
 
//  .scroll-bar::-webkit-scrollbar {
//    width: 4px;
 
//  }
 
//  /* Track */
//  .scroll-bar::-webkit-scrollbar-track {
//    background: #fff; 
//  }
  
//  /* Handle */
//  .scroll-bar::-webkit-scrollbar-thumb {
//    background: #003466; 
//  }
 
//  /* Handle on hover */
//  .scroll-bar::-webkit-scrollbar-thumb:hover {
//    background: #999; 
//  }
 
.searchtab {
    padding: 20px;
  }
  
  .card1 {
    margin-left: 15px;
  }
  
 //  // .img {
 //  //   width: 65px;
 //  //   height: 64px;
 //  //   background: #0065FE;
 //  //   border-radius: 50%;
 //  //   display: flex;
 //  //   justify-content: center;
 //  //   align-items: center;
 //  //   justify-items: center;
 //  // }
 //  // .img1 {
 //  //   width: 92px;
 //  //   height: 65px;
 //  //   background: #0065FE;
 //  //   border-radius: 50%;
 //  //   display: flex;
 //  //   justify-content: center;
 //  //   align-items: center;
 //  //   justify-items: center;
 //  // }
 //  .box2{
 //    display: flex;
 //  }
 //  .box1{
 //    display: flex;
 //  }
  
  
 //  .box1 h5 {
 //    margin-bottom: 27px;
 //  }
 //  .payment-title{
 //    border-left: 1px solid #B6B6B6;
 //    padding-left: 20px;
 //    margin-left: 14px;
 //  }
 //  .chart-side {
 //    padding-right: 30px;
 //  }
 //  .chartsides {
 //    margin-left: 2px;
 //  }
  
 //  .chart-box1 {
 //    box-shadow: none !important;
 //    background-color: #fff;
 //    border-radius: 5px;
 //    margin-bottom: 30px;
 //    padding: 20px;
 //    width: auto;
 //    height: auto;
 //  }
  
  
  .timely {
    color: #2C9E09;
    font-weight: 700;
    font-size: 12px;
  }
  
  .overdue {
    color: #FF0000;
    font-weight: 700;
    font-size: 12px;
  }
 
 
 
 .background {
    
     background: #fff;
     margin: 15px;
     border-radius: 4px;
     /* margin-right: 15px; */
     margin-right: -18px;
 
 
 }
 
 .background1 {
   background: #fff;
   margin-left: 15px;
   // border-radius: 20px;
 
 }
 
 .chart {
   margin-bottom: 0;
   border-bottom-left-radius: 0%;
   border-bottom-right-radius: 0%;
 
 }
 
 .cardback{
     display: flex;
     padding: 10px;
 }
 
 // #chart {
 //   width: 1059px;
 //   /* margin: 35px auto; */
 //   display: flex;
 //   justify-content: center;
 //   }
 
   .select-cols {
     width:110px;
     height:32px;
     padding: 6px 10px ;
     display: inline-block;
     border: none;
     border: 1px solid  #5f5f5f6b!important;
     border-radius: 4px;
     font-size: 13px; 
     margin-bottom: 15px;  
     color: #5f5f5fc2 ;  
   }
 
 .txt {
   position: relative;
     text-align: center;
     top: -43px;
 }
 
 .background h5{
   font-size: 12px;
   font-weight: 500;
   color: var(--black-color);
   margin-bottom: 0;
 }
 
 
 th {
   border: 1px solid black; border-bottom: 1px solid black ;
   padding: 15px;
   // background-color: #003466;
   text-align: center;
   color: #003466;
 }
 
 td {
   border: 1px solid black;
   text-align: center;
 }
 
 
 .table-res {
   padding-top: 15px;
   padding-left: 15px;
   padding-bottom: 15px;
   padding-right: 40px;
 }
 
 table {
   width: 100%;
 }
 
 .chart-side {
   padding-right: 30px;
 }
 .chartsides {
   margin-left: 2px;
 }
 
 .chart-box1 {
   box-shadow: none !important;
   background-color: #fff;
   border-radius: 5px;
   margin-bottom: 30px;
   padding: 20px;
   width: auto;
   height: auto;
 }
 
 
 .sales-chart{
     display: flex;
     justify-content: space-between;
     padding: 25px;
 }
 
 
 .tablewidth {
   width: max-content;
 }
 
 // #chart1 {
 //   // width: 840px;
 //   /* margin: 35px auto; */
 //   // display: flex;
 //   // justify-content: center;
 //   }
 
 .back {
   margin-left: 28px;
 
 }
 
 .headings {
   
     border-bottom: 1px solid #e2e5e8;
     font-size: 13px;
     color: #37474f;
     background-color: #f6f6f6;
     text-transform: uppercase;
 
 }
 
 h5{
   font-size: 16px;
   font-weight: 500;
   color: var(--black-color);
   margin-top: 8px;
   margin-bottom: 0;
 }
 
 .graph-card{background-color: var(--white-color); padding: 15px; border-radius: 4px; }
 
 .txtdrop {
  padding: 10px;
  display: flex;
  flex-direction: row-reverse;
 }
 
 .btn1{
   margin-right: 5px;
 }
 // .btn2{
 //   margin-right: 5px;
 // }
 
 
 .txt3 {
   padding: 10px;
 }
 
 .txt4 {
   padding-left: 30px;
   padding-top: 10px;
   padding-bottom: 10px;
 }
 
 .txt5 {
   font-size: 12px;
 }
 
 
 // .tableback {
 //   border: none;
 //   padding: 15px;
 //   // background-color: #003466;
 //   text-align: center;
 //   color: #fff;
 
 // }
 
 // .tablehead th{
 //     color: #fff;
 //     font-size: 9px;
 //     padding: 6px;
 //     background-color: var(--primary-color);
 // }
 
 
 .headings th {
   border: none;
   padding: 15px;
   background-color: #0065fe;
   text-align: center;
   color: #fff;
 }
 
 .head td{
  border: none !important;
 }